<!DOCTYPE html>
<html lang="en">
<head>
    <title>ዲለር ፎርም</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        @media print {
            .noprint {
                display: none;
            }
        }

        body {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    
        . form-container {
            margin-top: 20px;
            padding: 10px;
            {% comment %} border: 1px solid #ccc; {% endcomment %}
        }
    
        .section-container {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    
        pre {
            font-size: 16px;
            font-family: Arial, sans-serif;
            line-height: 1.5;
            margin: 0; /* Added to remove margin around paragraphs */
        }
    
        h2, h3, h4 {
            font-family: Arial, sans-serif;
            text-align: center;
            text-decoration: underline;
        }
        .timer {
            text-align: right;
            margin-top: 40px;
            margin-right: 60;
        }
    
        .page {
            page-break-after: always;
            padding: 0; /* Updated to remove padding */
            border: none;
        }
    
        .page:first-child {
            padding-top: 0;
        }
    
        .page:last-child {
            padding-bottom: 0;
        }
    
        .content {
            display: flex; /* Added to distribute paragraphs horizontally */
            flex-wrap: wrap;/* Added to wrap paragraphs to new lines */
            display: flex;
            margin-top: 20px;    /* Add margin to the top */
            margin-bottom: 20px;
        }
    
        .content > div {
            flex-basis: 100%; /* Added to make each div take full width */
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;    /* Add margin to the top */
            margin-bottom: 20px;
        }

        .line-break {
            margin-bottom: 0.2em; /* Adjust the value to control the spacing */
          }
        .text-right {
            text-align: right;
            padding-left: 0;
            margin-bottom: 0;
        }
        .page {
            display: none;
        }
    </style>  
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="{% url 'delier_form' %}">
                {% csrf_token %}
                <h1 class="text-center">ዲለር</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-container">
                            <h3 class="text-center">ዲለር ፎርም</h3>

                            <div class="form-group">
                                <label for="sim">የ ዲለሩ መጀመርያ ስም</label>
                                <input type="text" class="form-control" name="sim"  required>
                            </div> 

                            <div class="form-group">
                                <label for="sim1">የ ዲለሩ ሁለተኛ ስም</label>
                                <input type="text" class="form-control" name="sim1" required>
                            </div>

                            <div class="form-group">
                                <label for="yemiterut">የሚጠሩበት ስም</label>
                                <input type="text" class="form-control" name="yemiterut" required>
                            </div>


                            <div class="form-group">
                                <label for="adrasha">አድራሻ</label>
                                <input type="text" class="form-control" name="adrasha" required>
                            </div>

                            <div class="form-group">
                                <label for="kilil">ክልል</label>
                                <input type="text" class="form-control" name="kilil" required>
                            </div>

                            <div class="form-group">
                                <label for="zone">ዞን</label>
                                <input type="text" class="form-control" name="zone" required>
                            </div>

                            <div class="form-group">
                                <label for="woreda">ወረዳ</label>
                                <input type="text" class="form-control" name="woreda" required>
                            </div>

                            <div class="form-group">
                                <label for="rsim">የተወካይ ስም</label>
                                <input type="text" class="form-control" name="rsim" required>
                            </div>

                            <div class="form-group">
                                <label for="radrash">የተወካይ አድራሻ</label>
                                <input type="text" class="form-control" name="radrasha" required>
                            </div>

                            <div class="form-group">
                                <label for="rnumber">የውክልና ቁትር</label>
                                <input type="number" class="form-control" name="rnumber" required>
                            </div>

                            
                             <div class="form-group">
                                <label for="rissued_date">ውክልናው የተሰጠበት ቀን</label>
                                <input type="date" class="form-control" name="rissued_date" required>
                            </div>

                            <div class="form-group">
                                <label for="wil_ken">ውሉ የተፈረመበት ቀን</label>
                                <input type="date" class="form-control" name="wil_ken" required>
                            </div>
                            
                            <!-- Add more fields for section 1 -->
                        </div>
                    </div>
                </div>
               {% comment %}  <div class="row">
                    <div class="col-md-6">
                        <div class="section-container">
                            <h3 class="text-center">Witness Form</h3>
                            <div class="form-group">
                                <label for="companyname">Witness1 Name:</label>
                                <input type="text" class="form-control" name="wname" required>
                            </div>
                            <div class="form-group">
                                <label for="companyname">Witness1 Address:</label>
                                <input type="text" class="form-control" name="waddress" required>
                            </div>
                            <div class="form-group">
                                <label for="companyname">Witness2 Name:</label>
                                <input type="text" class="form-control" name="wname1" required>
                            </div>
                            <div class="form-group">
                                <label for="waddress1">Witness2 Address:</label>
                                <input type="text" class="form-control" name="waddress1" required>
                            </div>
                            <!-- Add more fields for witness form -->
                        </div>
                    </div> {% endcomment %}
                    
                    
                </div>
                <!-- Hidden input fields -->
                {% comment %} <div class="form-container"> {% endcomment %}
                    {% comment %} <form method="POST" action="{% url 'contract_form' %}">
                        {% csrf_token %}
                    </form> {% endcomment %}
                    <br>
                    <div class="page">
                        <div class="content" style="display: flex; flex-wrap: wrap;">
                            <div style="margin-left: 60px; margin-right: 60px;">
                                <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                                    <p class="hidden">
                                                            <h3>በግንባታ ላይ በሚገኝ ማደያ የዲለርሽፕ ውል</h3>
                                        
                                                                        <h3>ክፍል ፩</h3>
                                                                        <h3>አጠቃላይ</h3>
                                        
                                        <h3>1. ተዋዋይ ወገኖች</h3>
                                        በዚህ ውል ፡-
                                        1.1 "ኩባንያ" እየተባለ የሚጠራው ታፍ ኦይል ኃላፊነቱ የተወሰነ የግል ማህበር አድራሻ አዲስ አበባ ፣ ቂርቆስ
                                        ክፍለ ከተማ ፣ ወረዳ 02 ፣ የቤ. ቁ አዲስ ፣ ስ.ቁ 0115580686/87 ፣ fax 0115580689 ፣ መንገድ 370 ፣
                                        ፖ.ሣ.ቁ. 43625 አዲስ አበባ ኢትዮጵያ ኢሜል info@tafoilplc.com.et በአንድ በኩል በመሆን ፤</p>
                                                                        <h3>እና</h3>
                                    <p>1.2 "ዲለር" እየተባሉ የሚጠሩት
                                        አቶ/ወሮ {{ delier.sim }} እና {{ delier.sim1}} የሚጠሩት {{ delier.yemiterut}}
                                        አድራሻ {{ delier.radrasha }} ክልል {{ delier.kilil }} ዞን {{ delier.zone }} ወረዳ (በውክልና ከሆነ)
                                        የተወካዪን ስም {{ delier.rsim }} ፣ አድራሻ {{ delier.radrasha }} ፣ የውክልና ቁጥር {{ delier.rnumber }} ፣ ውክልናው የተሰጠበት ቀን {{ delier.rissued_date }}
                                        ይሞላ
                                        በተሰጣቸው ውክልና በሌላ በኩል በመሆን
                                        ይህን ውል ከዛሬ {{ delier.wil_ken }} ዓም ጀምሮ በመካከላችን አስገዳጅ መብትና ግዴታዎቸን
                                        እንዲፈጥርና በህግ ፊትም የጸና እንዲሆን ያለምንም አስገዳጅነትና ተፅዕኖ በፈቃዳችን ተዋውለናል፡፡</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="page">
                        <div class="content" style="display: flex; flex-wrap: wrap;">
                            <div style="margin-left: 60px; margin-right: 60px;">
                                <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                                                                        <h3>Article 20</h3>
                                                                        <h3>Notice</h3>
    
                                    Any notice to be given under this agreement shall be in writing and shall be
                                    deemed to have been delivered if sent by registered post to the Supplier's
                                    address at P.O. Box 43625, Addis Ababa, Ethiopia, and to the address of the buyer
                                    P.O. Box {{ contract.pobox }} the 5th day unless and until either party is notified in writing
                                    of a different address to be used thereafter.<br>
                                    Witness whereof, the parties hereto have this day and year written above set their
                                    respective hands to sign and seal the agreement.<br>
    
                                    <div class="d-flex justify-content-between">
                                        <div class="text-left">
                                            <p class="text-left"><strong>For and on behalf of the Supplier</strong></p>
                                            <p class="text-left line-break">Name: Mr. {{ contract.supplierrepre_name }}</p>
                                            <p class="text-left line-break">Position: {{ contract.supplierrepre_position }}</p>
                                            <p class="text-left line-break">Signature: -----------------</p>
                                            <p class="text-left line-break">Date: {{ contract.buyerrepre_signe_date }}</p>
                                        </div>
                                        <div class="text-right">
                                            <p class="hidden"><strong>For and on behalf of the Buyer</strong></p>
                                            <p class="text-left line-break">Name: {{ contract.buyerrepre_name }}</p>
                                            <p class="text-left line-break">Position: {{ contract.buyerrepre_position }}</p>
                                            <p class="text-left line-break">Signature: -----------------</p>
                                            <p class="text-left line-break">Date: {{ contract.buyerrepre_signe_date }}</p>
                                        </div>
                                       
                                    </div><br>
    
                                    <div class="text-center">
                                        <p class="hidden"><strong>Witness</strong></p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="text-left">
                                          <p class="hidden"><strong>Name</strong></p>
                                          <p class="hidden">1. {{ contract.wname }}</p>
                                          <p class="hidden">2. {{ contract.wname1 }}</p>
                                        </div>
                                        <div class="text-center">
                                          <p class="hidden"><strong>Address</strong></p>
                                          <p class="hidden">{{ contract.waddress }} </p>
                                          <p class="hidden">{{ contract.waddress1 }} </p>
                                        </div>
                                        <div class="text-right">
                                          <p class="hidden"><strong>Signature</strong></p>
                                          <p class="hidden">---------------</p>
                                          <p class="hidden">--------------</p>
                                        </div>
                                    </div>
                                      
                                                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
