<!DOCTYPE html>
<html lan='am'>
<head>
    <title>Dealership Preview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      /* Hide elements with class "noprint" when printing */
      @media print {
        .noprint {
          display: none;
        }

        .no-gap {
          margin: 0;
          padding: 0;
        }
    
        /* Apply styles for printed content */
        body {
          margin: 0;
          font-family: sans-serif;
          font-size: 24px;
          line-height: 1.5;
        }
    
        .page {
          page-break-inside: avoid;
          margin: 0;
        }
    
        @page {
          size: A4;
          margin-top: 60px;
          margin-left: 80px;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
    
      /* General styling for the content */
      .content {
        flex-direction: column;
      }
    
      h2, h3, h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
        text-align: center;
        text-decoration: underline;
      }
    
      .timer {
        margin-top: 40px;
        text-align: right;
        margin-right: 60px;
      }
    
      .text-right {
        text-align: right;
        margin-right: 30px;
      }
    
      .text-left {
        text-align: left;
        margin-left: 30px;
      }
    
      /* Set font size for paragraphs */
      p {
        margin: 5px 0; /* Adjust top and bottom margins to control spacing between paragraphs */
      line-height: 1.2; /* Adjust line height for paragraphs */
      font-size: 16px;
      }
    </style>
</head>
<body>
  <div>
      <div class="container">
          {% comment %} <div class="form-container"> {% endcomment %}
              <form method="POST" action="{% url 'delier_form' %}">
                  {% csrf_token %}
              </form>
              <div class="page">
                  <div class="content" style="display: flex; flex-wrap: wrap;">
                      <div style="margin-left: 60px; margin-right: 60px;">
                          <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.5; text-align: justify;">

                            <div class="timer-container">
                              <p class="timer mr-5"><strong>ቀን</strong> {{ delier.wil_ken }}</p>
                          </div>
                             
                                                      <h3><strong>በግንባታ ላይ በሚገኝ ማደያ የዲለርሽፕ ውል</strong></h3>
                                  
                                                                  <h3><strong>ክፍል ፩</strong></h3>
                                                                  <h3 ><strong>አጠቃላይ</strong></h3>
                                  <p class="no-gap"><strong>1. ተዋዋይ ወገኖች</strong></p>
                                  <p class="no-gap" style="margin-left: 20px">በዚህ ውል ፡</p>
                                  <p class="no-gap" style="margin-left: 20px">1.1 <strong>"ኩባንያ"</strong> እየተባለ የሚጠራው ታፍ ኦይል ኃላፊነቱ የተወሰነ የግል ማህበር አድራሻ አዲስ አበባ ፣ ቂርቆስ
                                  ክፍለ ከተማ ፣ ወረዳ 02 ፣ የቤ. ቁ አዲስ ፣ ስ.ቁ 0115580686/87 ፣ fax 0115580689 ፣ መንገድ 370 ፣
                                  ፖ.ሣ.ቁ. 43625 አዲስ አበባ ኢትዮጵያ ኢሜል info@tafoilplc.com.et በአንድ በኩል በመሆን ፤</p>
                                                                  <h3>እና</h3>
                              <p class="no-gap" style="margin-left: 20px">1.2 <strong>"ዲለር"</strong> እየተባሉ የሚጠሩት
                                  አቶ/ወሮ {{ delier.sim }} አድራሻ {{ delier.adrasha }} ከተማ ፣ ቀበሌ {{ delier.yediler_kebele }} ፣ {{ delier.zone }} ዞን ፣ {{ delier.kilil }} ክልል ፣ ህጋዊ ተወካይ አቶ/ወሮ {{ delier.rsim }} ፣  ቀበሌ {{ delier.yediler_tewekay_kebele }}
                                  ፣ የቤቁ {{  delier.yedilier_tewekay_bet_kutr }} ፣ ስቁ {{  delier.yediler_tewekay_silk_kutr }} ፣ በውክልና ቁጥር {{ delier.rnumber }} ፣ በቀን {{ delier.rissued_date }} ዓ.ም ፣ 
                                  በተሰጣቸው ውክልና በሌላ በኩል በመሆን ፤<br>
                                  ይህን ውል ከዛሬ ቀን {{ delier.wil_ken }} ዓ.ም ጀምሮ በመካከላችን አስገዳጅ መብትና ግዴታዎቸን
                                  እንዲፈጥርና በህግ ፊትም የጸና እንዲሆን ያለምንም አስገዳጅነትና ተፅዕኖ በፈቃዳችን ተዋውለናል፡፡</p>
                              <p class="no-gap">2. የውሉ ዓላማ፤
                                <ul>
                                  <li style="margin-left: 20px">ኩባንያው ነዳጅና የነዳጅ ውጤቶችን ከውጭ የሚያስመጣ ፤ በሀገር ውስጥ የሚያከፋፍልና የሚያሰራጭ
                                    በመሆኑ ይህንን ስራ ለማከናወን የሚረዱ መሣሪያዎች ባለቤት በመሆኑና ይህንንም ስራ ብቃት ባላቸው
                                    ዲለሮች አማካኝነት ለተጠቃሚው እንዲዳረስ የሚሰራ በመሆኑ፤</li>
                                  <li style="margin-left: 20px">ዲለሩ ደግሞ ስራውን ለማከናውን የሚረዳ በዚህ ውል አንቀጽ 5 ዝርዝሩ የተጠቀሰው መሬትና በመሬቱ
                                    ላይ ያረፈ ለዚሁ አገልግሎት የሚሆን የነዳጅ ማደያ እና ለስራው አስፈላጊ የሆኑ መሳሪያዎች ማለትም
                                    የነዳጅ ታንከር እንዲሁም ሌሎች መሳሪያዎች ባለቤት በመሆኑ እና በዚህ ንብረት ላይ ነዳጅና የነዳጅ
                                    ውጤቶችን በኩባንያው ስምና የንግድ ምልክት ለተጠቃሚው ለማዳረስ ከኩባንያው ጋር በጋራ ለመስራት
                                    ፈቃደኛ በመሆኑ፤</li>
                                    <li style="margin-left: 20px">ይህ ስራ ብቃት ባለው ከሌሎች ተመሳሳይ ስራ ከሚሰሩ ኩባንያዎች ተወዳዳሪ በሆነ ሁኔታ የደንበኞችን
                                      ፍላጎት ባሳካ መልኩ ተሰርቶ የኩባንያውና የዲለሩ ጥቅሞችና ትርፎች ያለማቋረጥ ማደግ ስላለባቸው
                                      ይህንን ግብ ለማሳካት ደግሞ ኩባንያው የዲለሩን የዕለት ተዕለት ስራ የመቆጣጠር ፣ ተገቢውን ስርዓት
                                      የተከተለ መሆኑን የማረጋገጥ ፣ ጉድለቶች ሲከሰቱ ደግሞ በወቅቱ እንዲታረሙ የመከታተል ስራዎች
                                      አስፈላጊ በመሆናቸው፤</li>
                                    <li style="margin-left: 20px">በአጠቃላይ ነዳጅና የነዳጅ ውጤቶችን የማሰራጨት ስራ ልዩ ሁኔታዎችን የያዘ፣ ተከታታይ ተወዳዳሪነትን
                                      በአሸናፊነት የመወጣት፣ የደህንነት፣ የጤና፣ የአካባቢ ጥበቃና ሌሎች መመሪያዎችንና ስርዓቶችን
                                      የመከተል፣ ደረጃውን የጠበቀና ደንበኞችን የሚያረካ አገልግሎት የመስጠት፣ የኩባንያውን ጥቅምና
                                      መልካም ስም ከሚያጎድፉ ድርጊቶች የመቆጠብና ሌሎችንም በዚህ ውል በዝርዝር የተገለጹትን
                                      ግዴታዎችን የመወጣት ሀላፊነቶችን የሚጠይቅ በመሆኑ፤</li>
                                </ul>
                              </p>
                      </div>
                  </div>
              </div>

              <div class="page">
                <div class="content" style="display: flex; flex-wrap: wrap;">
                    <div style="margin-left: 60px; margin-right: 60px;">
                        <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                              <ul>
                                <li style="margin-left: 20px">ይህንን ልዩ ሁኔታዎች የሚያሟሉ በዚህ ውል የተመለከቱን መብትና ግዴታዎችን አክብረን በመስራት
                                  የኩባንያውን መልካም ስም በመጠበቅ እና በማሳደግ ከመንግስትና ከሕብረተሰቡ የሚጠበቅብንን
                                  ሀላፊነቶች በመወጣት ትርፋችንንና ጥቅማችንን በማያቋርጥ ሁኔታ ማሳደግ አስፈላጊ ስለሆነ ፣
                                  ይህንን ዓላማ ሊያሳካ የሚችል በህግ ፊት አስገዳጅነት ያለውን የሚከተለውን ውል ተዋውለናል፡፡</li>
                              </ul>
                              <p><strong>3. ትርጉም</strong></p>
                              <p>በዚህ ውል ውስጥ በሌላ ሁኔታ እስካልተገለፀ ድረስ የሚከተሉት ቃላት የሚከተለው ትርጉም አላቸው፡፡</p>
                                  <p style="margin-left: 20px">3.1 «መንግስት» ማለት የኢትዩጲያ ፌደራላዊ ዲሞክራሲያዊ ሪፐብሊክ መንግስት ወይም በኢፌዲሪ ሕገ
                                  መንግስት የተቋቋመ የክልል ብሔራዊ መንግስት ማለት ነው፡፡</p>
                                  <p style="margin-left: 20px">3.2 *ማደያ " ማለት ነዳጅ እና የነዳጅ ውጤቶች ለተጠቃሚዎች የሚሰራጭበት ጣቢያ ነው፡፡</p>
                                  <p style="margin-left: 20px">3.3 "ነዳጅ" ማለት ተራ ቤንዝን ፣ ኢታኖል ቤንዚን ድብልቅ ነዳጅ፤ ላምባ/ኪሮሲን፣ ነጭ ናፍታ፣ የአውሮፕላን
                                  ነዳጅ፤ ቀላል ጥቁር ናፍታና ከባድ ጥቁር ናፍታ እና ቡታጋዝ (LPG) ማለት ነው፡፡</p>
                                  <p style="margin-left: 20px">3.4 "የነዳጅ ውጤቶች" ከነዳጅ ተረፈ ምርት የሚመረት ልዩ ልዩ ዘይቶች፣ ቅባቶች፣ ሬንጅ/ቅርጣን/ (Bitumen)
                                  የመሳሰሉት ማለት ነው፡፡</p>
                                  <p style="margin-left: 20px">3.5 "ምርቶች" ማለት ነዳጅና የነዳጅ ውጤቶች ማለት ነው፡፡</p>
                                  <p style="margin-left: 20px">3.6 "መሳሪያዎች" ማለት ነደጅና የነዳጅ ውጤቶች ለመሸጥ ወይም በማደያ ቦታ ውስጥ ተያያዥ አገልግሎት
                                  ለመስጠት የሚያገለግሉ ማለት ነው፡፡</p>
                                  <p style="margin-left: 20px">3.7 "የኩባንያው ተባባሪዎች" ማለት ከኩባንያው ጋር ባለው ውል መሰረት ነዳጅ እና የነዳጅ ውጤቶች
                                  ለኩባንያው የሚያቀርቡ ወይም በተለየ ስምምነት ከኩባንያው ጋር የሚሰሩ ወይም ኩባንያው ለዲለሩ
                                  በጽሑፍ የሚያሳውቃቸው በተመሳሳይ የንግድ ዘርፍ የተሰማሩ ፈቃድ ያላቸው የተፈጥሮ ሰው ወይም በህግ
                                  የሰውነት መብት የተሰጣቸው ናቸው፡፡</p>
                                  <p style="margin-left: 20px">3.8 "ዲለር" ማለት በራሱ ይዞታ ላይ የነዳጅ ማደያ ገንብቶ ነዳጅ እና የነዳጅ ውጤቶችን ለመሸጥ /ለመቸርቸር/
                                  የንግድ ፈቃድ ያለው የተፈጥሮ ሰው ወይም በህግ የሰውነት መብት የተሰጠው ነው፡፡</p>
                    
                                <p><strong>4. የውሉ አካል ስለሆኑ ሰነዶችና ቅደም ተከተላቸው</strong></p>
                                    <p style="margin-left: 20px">4.1 አባሪ 1 የኩባንያው ንብረት የሆኑ መሳሪያዎች ዝርዝር</p>
                                    <p style="margin-left: 20px">4.2 አባሪ 2 የኩባንያው የጤና ፣ የደህንነት ፣ የአካባቢ ጥበቃ ደንቦች</p>
                              
                                <p><strong>5. ማደያው የሚገኝበት አድራሻ ፣ ባለቤትነትና ዋስትና</strong></p>
                                  <p style="margin-left: 20px;">5.1 በዚህ ውል የተመለከቱት ነዳጅና የነዳጅ ውጤቶች የሚሸጥበት ማደያ አድራሻ {{ delier.madya_zone }} ፣ {{ delier.madya_wereda}} ፣ {{ delier.madya_kilil}} ክልል
                                    {{ delier.madya_ketema }} ከተማ ነው፡</p>
                                    <p style="margin-left: 20px">5.2 ማደያው ያረፈበት አጠቃላይ የቦታው ስፋቱ {{ delier.adya_area }} ካሬ ሜትር ፣ የካርታ ቁጥሩ
                                    {{ delier.map_kutr }} ፣ በቀን {{ delier.map_date }}
                                    ከ {{ delier.ke_yetesete }} የተሰጠ እና በአቶ {{ delier.temezgbo_yemigegn }} ስም
                                    ተመዝግቦ የሚገኝ ነው፡፡</p>
                                    <p style="margin-left: 20px">5.3 ዲለሩ ይህ ንብረት የራሳቸው መሆኑን ፣ በንብረቱ ላይ ይገባኛል ባይ የሌለው መሆኑን፣ በንብረቱ ላይ
                                    ይህንን ስራ መስራት ወይም መዋዋል አትችሉም የሚል ተቃዋሚ ወገን የሌለ መሆኑን፣ ዕዳና ዕገዳ የሌለበት
                                    መሆኑን፤ በአጠቃላይ ለውሉ መፈጸም እንቅፋት የሌለው ስለመሆኑ ዋስትና ይሰጣል፡፡ እንዲህ አይነት
                                    ተቃውሞ ከመጣ በራሳቸው ወጪ ተከራክረው ሊመልሱና በዚህም ምክንያት በኩባንያው ላይ የሚደርስ
                                    ማንኛውም ኪሳራ ካለ ለመክፈል ተስማምተዋል፡፡</p>
                                    <p style="margin-left: 20px">5.4 ዲለሩ ይህ ውል ጸንቶ በሚቆይበት ጊዜ ሁሉ ይህንን ንብረት በውሉ ላይ በዝርዝር የተገለጸውን ስራ
                                    በሙሉም ሆነ በከፊል ለመስራት የሚከለክል ወይም እንቅፋት የሚፈጥሩ ድርጊቶችን ማድረግ አይችልም፡፡</p>
                                    <p style="margin-left: 20px">5.5 ይህ ውል ከመቋረጡ በፊት ንብረቱን በሙሉም ሆነ በከፊል ለሶስተኛ ወገን ለማስተላለፍ ወይም በሌላ
                                    መንገድ ባለቤትነቱን ለማጣት ወይም ለባንክም ሆነ ለሌላ ሶስተኛ ወገን በእዳ ለማስያዝ ወይም ይህንን ስራ
                                    ለማካሄድ በጊዜያዊነትም ሆነ በቋሚነት የሚከለክል ስራ ወይም ግንባታ ለማካሄድ አስቀድሞ ከኩባንያው
                                    ፈቃድ በጽሁፍ ማግኘት አለባቸው፡</p>
                                    <p style="margin-left: 20px">5.6 ንብረቱ የሚተላለፍለት ሶስተኛ ወገን ውሉ ጸንቶ እስከቆየ ጊዜ ድረስ ይህንን ስራ ከኩባንያው ጋር
                                    ተስማምቶ ለመቀጠል የውል ግዴታ የሚገባ ከሆነ ኩባንያው የንብረቱን መተላለፍ መፍቀድ ይኖርበታል፡፡</p>
                              
                    </div>
                </div>
            </div>
            

                  <div class="page">
                    <div class="content" style="display: flex; flex-wrap: wrap;">
                        <div style="margin-left: 60px; margin-right: 60px;">
                            <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                              <p style="margin-left: 20px">5.7 ዲለሩ በስራውም ሆነ በሌላ ምክንያት እዳ ወይም ብድር ቢኖርባቸው ብድሩን እንዲበደሩ ኩባንያው
                              ቢፈቅድም እንኳን እዳው ወይም ብድሩ ኩባንያውን አይመለከተውም፡፡ በመሆኑም በማደያው ውስጥ
                              የሚገኙ የኩባንያውን ንብረቶች በዕዳ ማስያዣነትም ሆነ ለዕዳ ማስከፈያነት ሊውሉ አይችሉም፡:</p>

                              <h3><strong>ክፍል ፪</strong></h3>

                              <h3><strong>የተዋዋይ ወገኖች መብትና ግዴታዎች</strong></h3>

                              <p><strong>6. መሰረታዊ መብትና ግዴታ</strong></p>
                              <p style="margin-left: 20px">6.1 በዚህ ውል የኩባንያውን እና ሌሎች ኩባንያው በጽሑፍ ያረጋገጣቸውን ነዳጅና የነዳጅ ውጤቶች ብቻ
                              በኩባንያው የንግድ ስም እንዲያስተዋውቅ ፣ እንዲገዛ ፣ እንዲያቀርብ ፣ እንዲሁም ኩባንያው እውቅና በሰጣቸው
                              መሳሪያዎች እየተጠቀመ ነዳጅና የነዳጅ ውጤቶቹን እንዲሸጥ ኩባንያው ለዲለሩ ፍቃዱን ሰጥቷል፡፡ ዲለሩም
                              ይህንን ግዴታ ተቀብሏል፡፡</p>
                              <p style="margin-left: 20px">6.2 ዲለሩም ጊዜውን ፤ ገንዘቡንና ጉልበቱን ለዚሁ የዲለር ውል አላማ ብቻ ለማዋል ተስማምቷል፡፡</p>
                              <p style="margin-left: 20px">6.3 እንዲሁም ዲለሩ ማደያው የሚገኝበትን መሬት እና ከማደያው ጋር የተያያዙ የራሱ ንብረት የሆኑ መሳሪያዎችና
                              ንብረቶች ለዚሁ የዲለር ስምምነት አላማ ብቻ ለማዋል ተስማምቷል፡፡</p>
                              <p style="margin-left: 20px">6.4 ዲለሩ የማደያውን ግንባታ በሚያከናውንበትም ሆነ ግንባታውን እንዳጠናቀቀ ይህ የዲለርሽፕ ስምምነት
                              እንዲፈጸም ስለተስማማ በዚህ ውል የተጣሉበት ግዴታዎች ሁሉ ልክ ማደያው ስራ ላይ እንደዋለ ሁሉ ተፈጻሚ
                              ይሆንበታል፡፡</p>
                              <p style="margin-left: 20px">6.5 የነዳጅ መግዛት፤ መረከብና አያያዝና ሌሎች ተመሳሳይ በዚህ ውል ክፍል ፪ ግዴታዎች ሁሉ ማደያው ስራ
                              እስከሚጀምር ለጊዜው ተፈጻሚነት አይኖራቸውም፡፡ ሆኖም ዲለሩ ተመሳሳይ ውል ከሌሎች ተፎፎካካሪ
                              ኩባንያዎች ጋር ላለማድረግ ግዴታ በዚህ ውል የገባ ስለሆነ ይህንን ግዴታ የማይወጣ ከሆነ የዚህ ውል ተገቢነት
                              ያላቸው ድንጋጌዎች ተፈጻሚ እንዲሆኑበት ተስማምቷል፡፡</p>
                              <p style="margin-left: 20px">6.6 ግንባታው እንደተጠናቀቀ ወዲያውኑ እነዚህ ግዴታዎች በዲለሩ ላይ ተፈጻሚ ይሆናሉ፡፡</p>
                              <p style="margin-left: 20px">6.7 ግንባታው ኩባንያው በሚያስቀምጠው የቴክኒክ እስታንዳርድ እንዲፈጸም ዲለሩ ግዴታ ገብቷል፡፡</p>
                              <p style="margin-left: 20px">6.8 የካኖፒ (የማደያ ጣሪያ) ስራን በተመለከተ ኩባንያው ባፀደቀው ቴክኒካል መስፈርት መሰረት ከሶተን
                              ኢንዱስትሪያል ኢንጂነሪግ ኃ/የተ/የግል/ማህበር ጋር ውለታ በመግባት ዲለሩ በራሱ ወጪ ያሰራል፡፡ (ይህን
                              አንቀጽ እንደአስፈላጊነቱ መጠቀም፦ ማለትም ዲለሩ ካኖፒ በራሱ ማሰራት ካሰበ ወይም ለጊዜው ማሰራት
                              ካልፈለገ አንቀጹን ማውጣይ ይቻላል፡፡</p>
                              <p><strong>7. የንግድ ፈቃድ ስለመያዝ ፣ ስለማሳደስና የመንግስት ግብር ስለመክፈል</strong></p>
                              <p style="margin-left: 20px">7.1 ዲለሩ ሽያጭ ከመጀመሩ በፊትና ይህ ስምምነትም ፀንቶ በሚቆይበት ጊዜ ሁሉ በሥምምነቱ መሰረት ስራውን
                              ለማከናውን በስሙ ህጋዊ የንግድ ፈቃድ መያዝ ይኖርበታል፡፡</p>
                              <p style="margin-left: 20px">7.2 ዲለሩ የንግድ ፈቃዱን በማደያው ያስቀምጣል፡፡ በኩባንያው በተጠየቀ ጊዜ ለኩባንያው ወዲያውኑ ያቀርባል፡፡
                              ኮፒውንም ይሰጣል፡፡</p>
                              <p style="margin-left: 20px">7.3 ዲለሩ ለሚሰራው ነዳጅና የነዳጅ ውጤቶች ችርቻሮ ስራ ተያያዥነት ያላቸውን ግብሮች በሙሉ ይከፍላል፡፡</p>
                              <p style="margin-left: 20px">7.4 ከማደያው ስራ ጋር በተያያዘ የሚኖሩትን ከግብር ጋር የተያያዙ የሰነድ መያዝ ፣ ግብርን ማሳወቅና መክፈል ግዴታዎች
                              ሁሉ የዲለሩ ብቻ ይሆናል፡፡</p>
                              <p style="margin-left: 20px">7.5 ዲለሩ በመንግሥት በኩል የሚፈለገውን የመሬት ኪራይ ፣ የማዘጋጃ ቤት ግብር ፣ የሕንጻ ታክስ ፣ የመሬት ጥቅም
                              ታክስ፣ የሊዝ ሂሳብና ሌላም መሬትን የተመለከተ ማናቸውንም የመንግስት ክፍያ ታክስና ግብር ሁሉ ይከፍላል፡፡</p>
                              <p><strong>8 ነዳጅና የነዳጅ ውጤቶች የአቅርቦት ጥያቄና ክፍያ</strong></p>
                              <p style="margin-left: 20px">8.1 ዲለሩ ለሽያጭ የሚፈልጋቸውን ነዳጅና የነዳጅ ውጤቶች ኩባንያው እንዲያቀርብለት የአቅርቦት ትዕዛዝ ለኩባንያው
                              ይሰጣል፡፡ የአቅርቦት ትዕዛዙ ምርቱ ሊቀርብለት ከሚፈልግበት ጊዜ ቢያንስ ከ 10 ቀን በፊት ለኩባንያው
                              በጽሁፍ/በፋክስ/በኢሜል ወይም በአካል በማቅረብ ተገቢውን ፎርም መሙላት ይኖርበታል፡፡ ትዕዛዙም በኩባንያው
                              በወቅቱ በስራ ላይ ባሉ በመጠንና በእሽግ ወይም በኮንቴይነር በታወቁ መለኪያዎች አይነት ይሆናል፡፡</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="page">
                  <div class="content" style="display: flex; flex-wrap: wrap;">
                      <div style="margin-left: 60px; margin-right: 60px;">
                          <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                            <p style="margin-left: 20px">8.2 ኩባንያው የአቅርቦት ትዕዛዝ እንደደረሰው በተቻለው መጠንና ፍጥነት ምርቶቹን ያቀርባል፡፡ ነገር ግን የአቅርቦቱ
                            መዘግየት ወይም አለመቅረብ ለዲለሩ ካሳ ለመጠየቅ መብት አይሰጠውም፡፡</p>
                            <p style="margin-left: 20px">8.3 የአከፋፈል ስርዓትን በተመለከተ ዲለሩ ከስራው ሰፊነት እና ከሂሳብ አያያዝ ጋር በተገናኝ ችግር እንዳይፈጠር በማሰብ
                            ከኩባንያው የሚገዛቸውን ምርቶች ቅድመ ክፍያ በመፈፀም ምርቶቹን ለመግዛት የፈለገ በመሆኑ እና ኩባንያውም በዚህ
                            ስለተስማማ ዲለሩ ክፍያውን በኩባንያው የባንክ ሂሳብ ቀጥታ ገቢ በማድረግ ወይም በሲፒኦ ወይም በቼክ በቅድሚያ
                            ክፍያ ይፈጽማል፡፡ ከክፍያው ጋር በተያያዘ የሚከፈለውን የባንክ አገልግሎት ዋጋ ዲለሩ ይሸፍናል፡፡</p>
                            <p style="margin-left: 20px">8.4 ኩባንያውም በተላለፈለት የአቅርቦት ትዕዛዝ መሰረት ዲለሩ ለምርቶቹ አስፈላጊውን ክፍያ መክፈሉን ሲያረጋገጥ
                            ምርቶቹን ለርክክብ ዝግጁ ያደርጋል፡፡</p>
                            <p><strong>9. ነዳጅና የነዳጅ ውጤቶች ማጓጓዝ ፣ ርክክብ፣ የጥራትና የመጠን አላላክ ዝርዝር</strong></p>
                            <p style="margin-left: 20px">9.1 ርክክቡ በኩባንያው የምርት ማከማቻ ወይም በዲለሩ ማደያ ሊሆን ይችላል፡፡ በሁለቱም ጊዜ በሚከተለው ሁኔት
                            ርክክቡ ይፈጸማል፡፡</p>
                            <p style="margin-left: 30px">9.1.1 ዲለሩ የሚታየውን የትራንስፖርት /የተሸከርካሪ ችግር ለመቅረፍ አንድ የነዳጅ ማጓጓዣ ተሸከርካሪ ይመድባል፡፡
                            ተሽከርካሪው ከኩባንያው የሚመለከተው የስራ ክፍል ጋር በመነጋገር እና በሚሰጠው ትእዛዝ/መመሪያ መሰረት
                            ነዳጅ ለዲለሩ ያጓጉዙለታል፡፡ ዲለሩ በራሱ ትራንስፖርት የሚያጓጉዝ በመሆኑ የነዳጅ ርክክብ የሚፈፀመው ነዳጁ
                            ተሸከርካሪው ላይ ሲጫን ይሆናል፡፡ ስለሆነም ዲለሩ በሌላ ተሸከርካሪ ነዳጅ እንዲቀርብለት የማስገደድ መብት
                            አይኖረውም፡፡ ኩባንያውም በሌላ ተሽከርካሪ ነዳጅ የማቅረብ ግዴታ የለበትም፡፡ (ዲለሩ የራሱን ተሽከርካሪ
                            የሚያቀርብ ይህን አንቀጽ መጠቀም)</p>
                            <p style="margin-left: 30px">9.1.2 ዲለሩ የተረከበው ነዳጅ በሰነድ የታዘዘው ለሌላ ዲለር ወይም ኦፕሬተር ወይም ለሌላ ቀጥታ ተጠቃሚ ቢሆንም
                            እንኳን ዲለሩ ወይም ተወካዩ ፈርሞና ማህተም አድርጎ እስከተረከበ ጊዜ ተገቢው ርክክብ እንደተፈጸመ
                            ይቆጠራል፡፡</p>
                            <p style="margin-left: 30px">9.1.3 የነዳጅ ውጤቶችን በተመለከተ ዲለሩ ወይም ተወካዩ የኩባንያው መጋዘን በመቅረብ የርክክብ ሰነድ ላይ ከፈረመ
                            በኃላ ይረከባል፡፡</p>
                            <p style="margin-left: 20px">9.2 ነዳጅ የጫነው መኪና/ ቦቴ ማደያው ላይ ሲደርስ የነዳጁን ጥራት ለማረጋገጥ የተዘጋጁትን የመመርመሪያ
                            መሳሪያዎች/ቴርሞ ዴንሲቲ ሜትሮች እና ሌሎች የነዳጅ ጥራት ማረጋገጫ መሳሪያዎችን/ ተጠቅሞ የነዳጁን ዴንሲቱ
                            በመለካት ማስረከቢያ ሰነዱ ላይ ከተመዘገበው መጠን ጋር በማገናዘብ አንዱ የነዳጅ አይነት ከሌላው ወይም ከባዕድ
                            ነገር ጋር አለመቀላቀሉን በጥንቃቄ ካረጋገጠ በኋላ ብቻ ነዳጁን ወደ ማጠራቀሚያ ጋኑ ማራገፍ ይኖርበታል፡፡ በዚህ
                            የመመርመሪያ መሳሪያ በትክክል ለክቶ የነዳጁ ዴንሲቲ ከተፈቀደው ከፍተኛ ወይም ዝቅተኛ ክልል ውጭ ከሆነ ዲለሩ
                            ነዳጁን ወደ ማጠራቀሚያ ጋኖቹ አይገለብጥም፡፡ ችግሩን ወዲያውኑ ለኩባንያው የሽያጭ ተወካይ ወይም ደንበኞች
                            አገልግሎት ሪፖርት ማድረግ ይኖርበታል፡፡</p>
                            <p style="margin-left: 20px">9.3 በርክክቡ ወቅት የመጠን ጉድለት ካለ እና ተረካካቢዎቹ ከተማመኑ በተገኘው ልኬት ልክ ርክክብ ይደረጋል፡፡ የመጠኑ
                            ጉድለት ከትራንስፖርተሩ ሂሳብ በመቀነስ ለዲለሩ ኩባንያው ተመላሽ ያደርግለታል፡፡ ነገር ግን ጉድለቱ የጥራት ጉዳይ
                            ከሆነ ርክክቡ ሊከናወን አይችልም፡፡</p>
                            <p style="margin-left: 20px">9.4 ዲለሩ በጥራት ምክንያት አልረከብም ያለው ነዳጅ በኩባንያው ወይም አግባብ ባለው የመንግስት አካል ተመርምሮ
                            ጥራቱ የተጠበቀ መሆኑ ቢረጋገጥ በዚህ ምክንያት ለደረሰ ኪሳራ ሁሉ ዲለሩ ተጠያቂ ይሆናል፡፡</p>
                            <p style="margin-left: 20px">9.5 የኩባንያው መኪና በዲለሩ ማደያ ቦታ ደርሶ ነዳጅ ወይም የነዳጅ ውጤቶች ሳይራገፉለት ከ 3 (ሶስት) ሰዓት በላይ
                            ከቆየ መኪናው ለቆየበት በሰዓት 250 ብር (ሁለት መቶ ሀምሳ ብር) ዲለሩ ይከፍላል፡፡</p>
                            <p style="margin-left: 20px">9.6 የነዳጅ ውጤቶችን ኩባንያው በራሱ ትራንስፖርት የሚያጓጉዝ ከሆነ የመጫኛ እና የማራገፊያ ወጪዎችን ኩባንያው
                            በሚወስነው ተመን መሰረት በምርቱ ዋጋው ላይ በመጨመር ዲለሩ የሚተካ ይሆናል፡፡</p>
                            <p><strong>10. ሀላፊነት ስለሚተላለፍባቸው ሁኔታዎች</strong></p>

                            ማንኛውም ንብረት ወይም ምርት በዚህ ውል መሰረት ርክክብ ከተደረገበት ጊዜ ጀምሮ ለሚደርሰው ሀላፊነት
                            ሁሉ የተረከበው ወገን ሙሉ ሀላፊነት አለበት፡፡ በተለይም፡-
                            <p style="margin-left: 20px">10.1 በምድር የነዳጅ ማከማቻ መሸንቆር ለሚደርስ ብክነትና/ወይንም ቧንቧዎች ነዳጅ ሲቀዳ ወይም በነዳጅ
                            መቅጃ ፓምፖች በሚደርስ የነዳጅ ከመጠን ማለፍ ወይም ማነስ ለሚከሰት ማናቸውም ኃላፊነት የዲለሩ
                            ይሆናል፡፡</p>
                            <p style="margin-left: 20px">10.2 በኩባንያው መጓጓዣዎች ለዲለሩ የቀረበ ነዳጅን በተመለከተ ለሚደርስ ጉዳት ሁሉ ነዳጅ ማደያው ጊቢ
                            ከደረሰበት ጊዜ ጀምሮ ኃላፊነቱ ወደ ዲለሩ ይተላለፋል፡፡
                            <p style="margin-left: 20px">10.3 የነዳጅ ውጤቶች በተመለከተ ምርቶቹ በዲለሩ ማጓጓዣ መኪናዎቹ ላይ እንደተጫኑ ማናቸውም ጉዳትና
                            ኃላፊነት ሙሉ በሙሉ ወደ ዲለሩ ይተላለፋሉ፡፡</p>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="page">
                <div class="content" style="display: flex; flex-wrap: wrap;">
                    <div style="margin-left: 60px; margin-right: 60px;">
                        <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                          <p><strong>11. በማደያ ውስጥ ነዳጅና የነዳጅ ውጤቶችን አያያዝና አቀማመጥ</strong></p>

                            <p style="margin-left: 20px">11.1 ነዳጅና የነዳጅ ውጤቶቹ በማደያው ምንም ዓይነት ብክለት እንዳይደርስባቸው ከፍተኛ ጥበቃና ጥንቃቄ
                            መኖሩን ዲለሩ ያረጋግጣል፡፡ ከዚህ የጥንቃቄ ጉድለት በደንበኞች ላይ የሚደርስ የጥራት ወይም የደረጃ
                            መውደቅ የዲለሩ ሃላፊነት ብቻ ይሆናል፡፡ በእንዲህ አይነት ጉድለት ኩባንያው ምንም አይነት ተጠያቂነት
                            የለበትም፡፡</p>
                            <p style="margin-left: 20px">11.2 በኩባንያው በሚወሰነው መሰረት ሁልጊዜ ማደያው በቂ የሆነ የነዳጅ ክምችት በመያዝ ማደያውን
                            በማናቸውም ጊዜ አለመድረቁን/አለማለቁን/ ዲለሩ ያረጋግጣል ፡፡ በመሬት ውስጥ በተቀበረ ታንከር
                            ከእያንዳንዱ የነዳጅ ዓይነት ቢያንስ 10,000 /አስር ሽህ/ ሊትር መጠባበቂያ መያዝ አለበት፡፡ ከዚህ መጠን
                            በታች ከመሆኑ በፊት ነዳጅ እንዲቀርብለት አስፈላጊውን ግዴታ ሁሉ ማሟላት አለበት፡፡</p>
                            <p style="margin-left: 20px">11.3 ለእያንዳንዱ አይነት ነዳጅ እና የነዳጅ ውጤት ለየብቻው በተለይ በተሰራለት ጋን ወይም የጋን ክፍል
                            ወይም ለዚሁ ተብሎ በተዘጋጀ ደረጃውን በጠበቀ መያዣ ብቻ መቀመጥ ይኖርበታል፡፡</p>

                            <p><strong>12. ነዳጅና የነዳጅ ውጤቶች የችርቻሮ ዋጋና ትርፍ</strong></p>

                            <p style="margin-left: 20px">12.1 የነዳጅ የችርቻሮ ዋጋና ትርፍ ስልጣን ባለው የመንግስት አካል በሚወሰነው መሰረት ብቻ ይሆናል፡፡</p>
                            <p style="margin-left: 20px">12.2 ስልጣን ባለው የመንግስት አካል በተወሰነው መሰረት አሁን ያለውን የትርፍ ማርጂን በሊትር ለሁሉም
                            የነዳጅ ዓይነቶች 88.08 ሳንቲም የዲለሩ ትርፍ ይሆናል፡፡ (የትርፍ ማርጅኑ ሲቀየር የተቀየረው ዋጋ
                            ይቀመጥ) የትርፍ ማርጅኑ ሲለወጥ በዚህ ውልም ላይ ተፈጻሚ ይሆናል፡፡</p>
                            <p style="margin-left: 20px">12.3 የቅባትና ዘይት የችርቻሮ ዋጋና ትርፍ ስልጣን ባለው የመንግስት አካል በተወሰነው መሰረት እና ኩባንያው
                            በጽሁፍ በሚያሳውቀው ዋጋ ብቻ ይሆናል፡፡</p>
                            <p><strong>13. የሽያጭ አፈጻጸምና ዝቅተኛ የሽያጭ መጠን</strong></p>

                            <p style="margin-left: 20px">13.1 ዲለሩ በተወሰነለት ዋጋና ደረጃቸውን በጠበቁ መሳሪያዎች ብቻ ለተጠቃሚ ደንበኞች ምርቶቹን ይሸጣል፡፡</p>
                            <p style="margin-left: 20px">13.2 ስልጣን ባለው የመንግስት አካል በተወሰነው ዝቅተኛ የሽያጭ መጠን ላይ ካልደረሰ ወይም ካልታዘዘ
                            በስተቀር ዲለሩ ምርቶቹን ምንጊዜም ለተጠቃሚዎች መሸጥ አለበት፡፡</p>
                            <p style="margin-left: 20px">13.3 ዲለሩ ሽያጩንም የሚያደርገው ቀድሞ ለመጣው ተጠቃሚ ደንበኛ ቅድሚያ በመስጠት መርህ ብቻ
                            ይሆናል፡፡</p>
                            <p style="margin-left: 20px">13.4 በኩባንያው ወይም ስልጣን ባለው አካል በፅሑፍ ፍቃድ ካላገኘ በስተቀር ዲለሩ ምርቶቹን ለሌላ ቸርቻሪ
                            ነጋዴ መሸጥ አይችልም፡፡ከደንበኛው ማደያ ቦታ ውጪ ማከማቸትም ሆነ በስውር መሸጥ አይፈቀድለትም፡፡</p>
                            <p style="margin-left: 20px">13.5 ዲለሩ የሚከተሉትን ዝቅተኛ መጠኖች ከኩባንያው በመግዛት በማደያው ለመሸጥ ግዴታ ገብቷል፡፡</p>

                            <p style="margin-left: 30px">13.5.1 ናፍጣ 800,000.00(ስምንት መቶ ሺህ) ሊትር እና ከዚያ በላይ</p>
                            <p style="margin-left: 30px">13.5.2 ቤንዚን 500,000.00 (አምስት መቶ ሺህ) ሊትር እና ከዚያ በላይ</p>
                            <p style="margin-left: 30px">13.5.3 ነጭ ጋዝ 200,000.00(ሁለት መቶ ሺህ) ሊትር እና ከዚያ በላይ</p>
                            <p style="margin-left: 30px">13.5.4 ዘይትና ቅባቶች 5,000 (አምስት ሺህ) ሊትር እና ከዚያ በላይ</p>

                            <p style="margin-left: 20px">13.6ኩባንያው አስፈላጊ ሆኖ ሲያገኘው ዝቅተኛ ወርሃዊ የሽያጭ መጠኖች ላይ አስፈላጊ ማስተካከያ ሊያደርግ
                            ይችላል፡፡ ይህንንም ለዲለሩ በፅሑፍ ያሳውቃል፡፡ ዲለሩም ይህንን የመቀበል ግዴታ አለበት፡፡</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page">
              <div class="content" style="display: flex; flex-wrap: wrap;">
                  <div style="margin-left: 60px; margin-right: 60px;">
                      <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                        <p><strong>14. የማደያ ጣቢያ አያያዝና አመራር</strong></p>

                        <p style="margin-left: 20px">14.1 በዲለሩ የተሰራው የነዳጅ ማደያ ጣቢያ ኩባንያው ያወጣውን ደረጃውን የጠበቀና አስፈላጊውን የደህንነት
                        መስፈርት ያሟላ መሆኑን ዲለሩ ያረጋግጣል፡፡</p>
                        <p style="margin-left: 20px">14.2 ዲለሩ ማደያውን በበቂ ቅልጥፍና ይመራል፣ ያስተዳድራል፡፡</p>
                        <p style="margin-left: 20px">14.3 ዲለሩ ማደያውን በዓላትና የእረፍት ቀኖችን ጨምሮ ለ 24 ሰዓት ለሕዝብ ክፍት በማድረግ አገልግሎት ይሰጣል፡</p>
                        <p style="margin-left: 20px">14.4 ዲለሩ ወይም ሕጋዊ ወኪል ቢያንስ በሳምንት ለ 60 ሰዓታት በማደያው መገኘትና ሥራውን በተገቢው ሁኔታ
                        የመከታተልና የመምራት ግዴታ አለበት፡፡</p>
                        <p style="margin-left: 20px">14.5 ዲለሩ መኖር በማይችልበት ወቅት በዲለሩ ሙሉ ስልጣን የተሰጠውና የማደያውን አስተዳደርና ስራ እንደ ዲለሩ
                        ሆኖ የሚሰራና ውሳኔ ለመስጠት የሚችል አቅምና ችሎታ ያለውን ሰው በመመደብ የወከለውን ሰው ስም
                        ለኩባንያው በፅሑፍ ያሳውቃል፡፡ ኩባንያው በተወካዩ ላይ ቅሬታ ከሌለው ተወካዩ ዲለሩን ወክሎ ሊሰራ
                        ይችላል፡፡</p>
                        <p style="margin-left: 20px">14.6 ዲለሩ በዚህ ውል ስምምነት ከተገለፀው እና ከተፈቀደው ሥራ ውጭ ከኩባንያው በጽሁፍ ፈቃድ ሳያገኝ
                        በማደያው ክልል ውስጥ ሌላ ሥራ አይሰራም ፤ እንዲሁም ግንባታዎችን አይገነባም፡፡ ነገር ግን ከነዳጅ ማደያ ስራ
                        ጋር ተያያዥ የሆኑ እንደ ገበያ፤ የሬስቶራንት፤ ጎሚስታ፤ የመኪና ማጠብ ስራዎችን ከኩባንያው ፈቃድ ሳያገኝ
                        ሊያከናውን ይችላል፡፡ የስራዎቹን ዝርዝርና የአሰራራቸውን ሁኔታ በተመለከተ በኩባንያው በየጊዜው በጽሑፍ
                        የሚሰጠውን መመሪያ ተከትሎ ዲለሩ ሊሰራ ይገባል፡፡</p>
                        <p style="margin-left: 20px">14.7 ዲለሩ የማደያውንና የመሳሪያዎቹን ሁኔታ፤ መልክና ገጽታ በማናቸውም ጊዜ ቢሆን ኩባንያው በሚፈልገው ደረጃ
                        የሚያሟሉ መሆናቸውን ያረጋግጣል፡፡</p>
                        <p style="margin-left: 20px">14.8 ዲለሩ ተሽከርካሪዎቹ በተወሰነላቸው የማቆሚያ ቦታዎች ላይ መቆማቸውንና የማደያው መውጫና መግቢያ
                        በማናቸውም ጊዜ ቢሆን ለትራፊክ ክፍት መሆኑን ያረጋግጣል፡፡</p>
                        <p style="margin-left: 20px">14.9 ነዳጅና የነዳጅ ውጤቶች ለማራገፍ ፣ ለማድረስ ፣ ለመጫን ፣ ለሰርቪስ ፣ ለእጥበት፣ ጎማ ለመለወጥና ጥገና
                        ለማድረግ እንዲሁም ሌሎችም በኩባንያው ለተፈቀዱ ስራዎች ለመገልግል ከሚመጡ የደንበኞች ተሸከርካሪዎች
                        በስተቀር ማናቸውም አይነት ተሸከርካሪ በማደያ ውስጥ አለመቆሙን ዲለሩ ያረጋግጣል፡፡</p>
                        <p style="margin-left: 20px">14.10 ዲለሩ ማደያውንና በማደያው ውስጥ የሚገኙትን የተለያዩ ክፍሎችን እና መሳሪያዎችን ሁልጊዜ ጽዳታቸውን
                        እንዲጠብቁ ያደርጋል፡፡ አረንጓዴ አካባቢዎችንም የመንከባከብ ሃላፊነት አለበት፡፡</p>
                        <p style="margin-left: 20px">14.11 የማደያ ደህንነትን ማለትም በማደያው ውስጥ ሲጋራ ማጨስ መከልከልን፣ በማደያው ተገልጋይ የሆኑ
                        ደንበኞች መኪኖችን ሞተር ማስጠፋት እና የተንቀሳቃሽ ስልኮችን በማደያው ውስጥ መጠቀም ማስቆም
                        የመሳሰሉትን እና በማደያ ሰራተኞች፤ በደንበኞች ወይም በሌላ ሶስተኛ ግለሰብ ወይም ቡድን ላይ አደጋ
                        ሊያስከትሉ የሚችሉ ድርጊቶችን በማደያው ላይ እንዳይፈፀሙ ዲለሩ ያረጋግጣል፡፡</p>
                        
                        <p><strong>15. የማደያ መሳሪያዎች፤ አቅርቦቶቻቸው፤ ባለቤትነት፤ አጠቃቀምና ጥገና</strong></p>
                        
                        <p style="margin-left: 20px">15.1 ዲለሩ ነዳጅ ለማከማቸት እና ለማከፋፈል የሚያገለግሉ በማደያ ጣቢያ በውጭ አካሉ ወይም ከመሬት
                        በላይ ሆነ በመሬት ውስጥ የተቀበሩትን ሴፕቲክ ታንኮች ፣ ጉድጓዶች፤ የነዳጅ መግቢያና መውጫ
                        መስመሮችና ከዚህ ጋር ተያያዥነት ያላቸውን ማናቸውንም ንብረቶችና መገልገያዎች ያልተበላሹ፤
                        ንጽህናቸው የተጠበቀ እና በጥራት ሥራውን ለማካሄድ የሚያስችል ሁኔታ ላይ መገኘታቸውን በየወቅቱ
                        የመከታተል እና ብልሽቶቹን ወዲያውኑ የመጠገን፤ የማደስ እና የማስተካከል ግዴታ አለበት ፡፡ እነዚህ
                        ንብረቶች ውሉ ጸንቶ በቆየበት ጊዜም ሆነ ከውሉ መጠናቀቅ በኋላ የዲለሩ ንብረቶች ሆነው ይቀጥላሉ፡፡</p>
                        <p style="margin-left: 20px">15.2 ኩባንያው ከሚያቀርባቸው መሳሪያዎች ውጭ ዲለሩ በራሱ ገንዘብ መግዛትና መጠቀም ከፈለገ በቅድሚያ
                        ለኩባንያው በጽሁፍ አቅርቦ ኩባንያው በሚፈቅደው ዝርዝር መመሪያ መሰረት ብቻ ይሆናል፡፡</p>
                      </div>
                  </div>
              </div>
          </div>


          <div class="page">
            <div class="content" style="display: flex; flex-wrap: wrap;">
                <div style="margin-left: 60px; margin-right: 60px;">
                    <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                      <p style="margin-left: 20px">15.3 ዲለሩ ከኩባንያው ፈቃድ ውጭ መሳሪያዎችን ማንሳት ፣ መቀየር፣ መለወጥ ወይም በቁጥር፣ በአይነት
                      ወይም በግዝፈት ማሳነስ አይችልም፤ የነዳጅ መቅጃ ፓምፖችን መፍታት ፣ መጠገን ወይም ማንኛውንም
                      አይነት ማስተካከያ ማድረግ ፈፅሞ አይችልም ፣ ማናቸውንም ለውጦች እንዲደረጉም አይፈቅድም፡፡</p>
                      <p style="margin-left: 20px">15.4 ዲለሩ ከኩባንያው እና ኩባንያው በጽሑፍ ከሚፈቅድላቸው በስተቀር ሌላ ሶስተኛ ወገን እንዲጠግን
                      ወይንም እንዲያድስ አይፈቅድም፡፡ ኩባንያው አስፈላጊ በሆነ ጊዜ ማንኛውንም የግንባታ ሥራ ፣ለውጦች፣
                      ጥገናዎች ወይንም የማሻሻያ ተግባራትን ለማከናውን ወደ ማደያው ቅጥር ግቢ መግባት እንደሚችል ዲለሩ
                      ተስማምቷል፡፡</p>
                      <p style="margin-left: 20px">15.5 በማደያው ውስጥ የሚገኙ የንጽህና ዕቃዎች፤ የውሃና የፍሳሽ መስመሮች፤ የኤሌክትሪክ መስመሮችና
                      አምፖሎች ዲለሩ በአግባቡ መስራታቸውን ይከታተላል፤ ሲበላሹ ወዲያውኑ ያድሳል፤ ወይም ይለውጣል፡፡</p>
                      <p style="margin-left: 20px">15.6 ዲለሩ በማደያው ውስጥ የሚገኙ የራሱም ሆነ የኩባንያው ንብረቶች ሁሉ በግዴለሽነት እንዳይሰበሩ፤
                      እንዳይበላሹ፤ አገለግሎታቸው እንዳይቋረጥ ሙሉ ጥበቃና ክትትል የማድረግ ሀላፊነት አለበት፡፡</p>

                      <p><strong>16. የጥገና ወጪዎች</strong></p>
                      <p style="margin-left: 20px">16.1 ዲለሩ በራሱ ገንዘብ የተገዙ ፤ የተተከሉ ወይም የተገነቡ ንብረቶችን፤ በማደያው ውስጥ ብልሽት ያለባቸውን
                      የንጽህና ዕቃዎች፤ የውሃና የፍሳሽ መስመሮች እንዲሁም የዲለሩም ሆኑ የኩባንያው ንብረት የሆኑ
                      የኤሌክትሪክ መስመሮችና አምፖሎች ዲለሩ በራሱ ወጪ ወዲያውኑ የማደስና የማስተካከል ግዴታ አለበት፡
                      ፡ ወጪውም ኩባንያውን አይመለከተውም፡፡</p>
                      <p style="margin-left: 20px">16.2 ኩባንያው በራሱ ወጪ የተከላቸው ወይም ወደፊት የሚተክላቸውን በአባሪ አንድ የተመለከቱትን
                      መሳሪያዎች በአንቀጽ 16.1 ያልተካተቱትን በራሱ ወጪና በራሱ ሰራተኞች ያስጠግናል፤ ይለውጣል፡፡
                      በእነዚህ ንብረቶች ዲለሩ በመጠቀሙ ምክንያት ኩባንያው ለዚህ ላለበት የጥገና ወጪ ማካካሻ በየወሩ
                      በቅድሚያ ብር 2,000 (ሁለት ሺህ ብር) (እንደ አስፈላጊነቱ ሊሻሻል ይችላል) ከተጨማሪ እሴት ታክስ
                      በፊት በአንድ ፓምፕ (በሚተከል ማሽን) ሂሳብ ለኩባንያው ይከፍላል፡፡ ጠቅላላ ክፍያው በተተከለው
                      ፓምፕ ወይም ማሽን ተባዝቶ የሚገኘው ይሆናል፡፡ ክፍያውም የሚታሰበው ማደያው ነዳጅ ካዘዘበት ዕለት
                      ጀምሮ ይሆናል፡፡ ኩባንያው የጥገና ቁሳቁሶችንና የሰው ሀይል አዘጋጅቶ ስለሚጠባበቅ ጥገናው ቢከናወንም
                      ባይከናወንም ፣ መሳሪያዎቹ አገልግሎት ሳይሰጡ በሚቆሙበት ጊዜም ቢሆን በእርጅና ምክንያት ዋጋቸዉ
                      የሚቀንስ በመሆኑ ዲለሩ ከኩባንያው ጋር ባለው ጊዜያው ግጭት/ አለመግባባት ወይም በማናቸውም
                      ምክንያት ነዳጅ ማዘዝ ቢያቆም የጥገና ወጭ ግምት ውስጥ ሳይገባ የተጠቀሰውን የገንዘብ መጠን ዲለሩ
                      ለኩባንያው ይከፈላል፡፡</p>
                      <p style="margin-left: 20px">16.3 በአንቀጽ 16.2 የተመለከተውን የዲለሩ የጥገና ወጪ ማካካሻ መጠኑን ኩባንያው አስፈላጊ ሆኖ ሲያገኘው
                      በማንኛውም ጊዜ ሊከልሰውና ሊያስተካክለው ይችላል፡፡ ዲለሩም ኩባንያው ባስተካከለው መጠን የወጪ
                      ማካካሻውን ለኩባንያው ይከፍላል፡፡</p>
                      <p style="margin-left: 20px">16.4 ከአንቀጽ 16.2 እስከ 16.3 ያሉት ቢኖሩም እነዚህ ንብረቶች ጥገና ወይም ለውጥ ያስፈለጋቸው በዲለሩ
                      ወይም በዲለሩ ሰራተኞች ወይም በደንበኞቹ ሆን ብለው እያወቁ ወይም በቸልተኝነት የተነሳ ከሆነ
                      ኩባንያው ለሚያወጣቸው ማናቸውም አይነት ወጪዎች ዲለሩ ሙሉ በሙሉ የመተካት ግዴታ አለበት፡፡</p>
                      <p style="margin-left: 20px">16.5 ኩባንያው ለዲለሩ የነዳጅ መገልገያ መሳሪያዎችን ያቀርባል፡፡ የነዳጅ መገልገያ መሳሪያዎች ጠቅላላ ብዛት
                      ዲለሩ ወደፊት ከሚመለከተው የስራ ክፍል ጋር በመነጋገር የሚወስኑት ይሆናል፡፡ ስለሆነም የአንዱ የነዳጅ
                      ማቅጃ ማሽን ዋጋ ብር 250,000 (ሁለት መቶ ሀምሳ ሺህ ብር) (እንደ አስፈላጊነቱ ሊጨምር ይችላል)
                      ጠቅላላ ዋጋው በሚቀርበው የማሽን ብዛት ተባዝቶ ከሚገኝው የገንዘብ መጠን ጋር ተመጣጣኝ የሆነ ምንም
                      ቅድመ ሁኔታ የሌለው የባንክ ዋስትና በማቅረብ የሚረከብ ይሆናል፡ የዋስትና ዝርዝር አፈጻጸም በዋስትና
                      ውሉ ላይ የሚገለጽ ይሆናል፡፡</p>
                      <p><strong>17. ስለሽያጭ ማበረታቻና ማስታወቂያዎች</strong></p>

                      <p style="margin-left: 20px">17.1 ኩባንያው ለማደያው ሥራ አስፈላጊ የሆኑ የኩባንያው የምርት ማስታወቂያዎችን በኩባንያው በሚከተለው
                      አሰራር እና በሚነድፈው ፖሊሲ መሰረት እንደ አስፈላጊነቱ ለዲለሩ ሊያቀርብ ይችላል፡፡</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="page">
          <div class="content" style="display: flex; flex-wrap: wrap;">
              <div style="margin-left: 60px; margin-right: 60px;">
                  <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                    <p style="margin-left: 20px">17.2 ኩባንያው የማደያውን ውብት የሚጠብቁና የሽያጭ ማስታወቂያ የሚሆኑ በማደያው ላይ የሚገጠሙ አብሪ
                    ምልክቶችን ፣የኩባንያውን የንግድ ምልክቶች፣ እና ኮለን ሊያቀርብ ይችላል፡፡ እነዚህ ንብረቶች የኩባንያው
                    ንብረት ሆነው ይቆያል፡፡ ዲለሩ እነዚህን ማስታወቂያዎች በአግባቡ ይጠብቃል፡፡ ይጠቀማል፡፡</p>
                    <p style="margin-left: 20px">17.3 ዲለሩ የማደያውን ሽያጭ ለማሳደግ ወይም ያለውን ንግድ ሥራ ላለማጣት (ለመንከባከብ) ወይም
                    ለማደያው ልዩ የሥራ እንቅስቃሴዎች በሚደረገው ማናቸውም የሽያጭ ማበረታቻ ዘመቻ (የሽያጭ
                    ማስታወቅ ዘመቻ) ይሳተፋል፡፡</p>
                    <p style="margin-left: 20px">17.4 ከኩባንያው ለሽያጭ ማበረታቻ እንዲውሉ የተሠጡ ቁሳቁሶችን ዲለሩ ተቀብሎ ኩባንያው በወሰነው ቦታና
                    ለወሰነላቸው ሰዎች ወይም አካሎች ብቻ ዲለሩ ያውላል፡፡</p>
                    <p style="margin-left: 20px">17.5 ዲለሩ የማስታወቂያ ወጭውን ለመሸፈን ኩባንያው ጋር በሚደረስበት ስምምነት የበኩሉን አስተዋፅኦ
                    ያደርጋል፡፡</p>

                    <p></strong>18. ስለማደያ ሠራተኞች ደመወዝ ፣ ሀላፊነት ፣ ስልጠና እና እገዛ</strong></p>

                    <p style="margin-left: 20px">18.1 ዲለሩ ለማዳያው ስራ አስፈላጊ የሆኑ ሰራተኞችን ይቀጥራል፣ ያስተዳድራል፣ ይቆጣጠራል፣ ይመራል፣
                    ያሰናብታል፡፡ ደሞወዛቸውንና ጥቅማ ጥቅም ይከፍላል፡፡ ለሠራተኞቹ መብት ጥያቄ ዲለሩን እንጅ
                    ኩባንያውን አይመለከተውም፡፡</p>
                    <p style="margin-left: 20px">18.2 ዲለሩ የሚቀጥራቸው ሰራተኞች ኩባንያው የሚያወጣውን ዝርዝር መስፈረት የሚያሟሉ መሆን
                    ይኖርባቸዋል፡፡</p>
                    <p style="margin-left: 20px">18.3 ዲለሩ የሚቀጥራቸው ሰራተኞች ብዛት የስራውን ክብደት ለመሸከም የሚችሉ መሆናቸውን ማረጋግጥ
                    ይኖርበታል፡፡</p>
                    <p style="margin-left: 20px">18.4 ዲለሩ የሚቀጥራቸው ሰራተኞች ኩባንያው የሚያዘጋጃቸውን ተገቢ ስልጠናዎች መውሰዳቸውን እና በበቂ
                    ሁኔታ ማጠናቀቃቸውን ማረጋገጥ አለበት፡፡</p>
                    <p style="margin-left: 20px">18.5. ዲለሩ ሰራተኞች ስራቸውን ሲሰሩ፡-</p>

                    <p style="margin-left: 30px">18.5.1. ለደንበኞች ፈጣንና ተገቢ ጨዋነት የተሞላበት አገልግሎት መስጠታቸውን፡-</p>
                    <p style="margin-left: 30px">18.5.2 ተገቢውን የደንብ ልብስ መልበሳቸውን፡-</p>
                    <p style="margin-left: 30px">18.5.3. የኩባንያውን ደንቦች እና መመሪያዎች ተክተለው በአግባቡ መፈፀማቸውን ፡-</p>
                    <p style="margin-left: 30px">18.5.4. የማደያውንና የራሳቸውን ንጽህና በአግባቡ መጠበቃቸውን ያረጋግጣል፡፡ ጉድለት
                    ሲኖር ወዲያውኑ እርምጃ በመውሰድ እንዲታረም ያደርጋል፡፡ ከጥፋቱ በማይታረም ሰራተኛ ላይ
                    ተገቢውን የስነ ስርዓት እርምጃ ይወስዳል፡፡ የኩባንያውን ስም እና ጥቅም የሚጎዳ ከሆነ የስራ
                    ውሉን ያቋርጣል፡፡</p>

                    <p style="margin-left: 20px">18.5 ዲለሩ የሚቀጥራቸው ሰራተኞች ደመወዝና ጥቅማ ጥቅም በዲለሩ ይወሰናል፡፡ ሆኖም በሀገሪቱ ከተወሰነው
                    የዝቅተኛ ደመወዝ መጠን ያነሰ መሆን የለበትም፡፡</p>
                    <p style="margin-left: 20px">18.6 ዲለሩ የሚቀጥራቸው ሰራተኞች ለሚያጠፉት ጥፋት ኩባንያው ተጠያቂ አይሆንም፡፡ በዲለሩ ሰራተኞች
                    ጥፋት በኩባንያው ላይ ለሚደርሰው ጉዳት ሁሉ ዲለሩ ተጠያቂ ይሆናል፡፡</p>
                    <p style="margin-left: 20px">18.7 በኩባንያው አሰራር እና ፖሊሲ መሰረት ፡-</p>
                    <p style="margin-left: 30px">18.7.1. በሀገር ውስጥ ስልጠና ሊሰጥ ይችላል፡፡</p>
                    <p style="margin-left: 30px">18.7.2. ስለሰራተኞች አመራር እና አሰራር ቴክንካዊ እገዛ፣ ምክርና ስልጠና ሊሰጥ ይችላል፡፡</p>
                    <p style="margin-left: 30px">18.7.3. የዲለሩ ሰራተኞች የሚለብሱት አለባበስ አይነት እና ስርዓት መመሪያ ለዲለሩ ሊሰጥ
                    ይችላል፡፡</p>
                  </div>
              </div>
          </div>
      </div>

              
      <div class="page">
        <div class="content" style="display: flex; flex-wrap: wrap;">
            <div style="margin-left: 60px; margin-right: 60px;">
                <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                  <p style="margin-left: 20px">18.8. በአንቀጽ 18.7 የሚሰጡት ስልጠናዎች በዲለሩ ጥያቄ ከሆነ የአገልግሎት ወጪዎቹን ዲለሩ ይተካል፡፡</p>
                  <p style="margin-left: 20px">18.9. ኩባንያው ለዲለሩ ሰራተኞች የደንብ ልብስ (ዩኒፎርም) ያቀርባል፡፡ ወጪን አስመልክቶ ዲለሩ ስራ
                  ሲጀምር 50% የዩኒፎርሙን ዋጋ ይሸፍናል፡፡ ሆኖም ዲለሩ ስራ ከጀመረ በኋላ ኩባንያው የደንብ ልብሱን
                  አሰፍቶ ቢያቀርብም ዋጋውን ግን ዲለሩ ሙሉ በሙሉ ይከፍላል፡፡</p>

                  <p><strong>19. የደህንነት መመሪያዎች አፈጻጸም</strong></p>
                  <p style="margin-left: 20px">19.1.ኩባንያው በየጊዜው ስራዎች የሚፈጸሙበትን ዝርዝር የአሰራርና የደህንነት መመሪያዎችን ለዲለሩ ሊያቀርብ ይችላል፡፡
                  በመንግስት የሚወጡ የጤና ፣የደህንነት ፣የጥበቃና አካባቢ ጥበቃ ፖሊሲ መመሪያዎችን ለዲለሩ እንዲደርስ ሊያደርግ
                  ይችላል፡፡ በየጊዜው የሚወጡ ሌሎች መመሪያዎችን ኩባንያው ሲኖሩም ለዲለሩ ሊያደርስ ይችላል፡፡</p>
                  <p style="margin-left: 20px">19.2. ዲለሩ በኩባንያው ወይም በመንግስት ወይም በመንግስት ወኪል ወይም ህጋዊ አካል ስለ ጤና፣ ደህንነት፣ ጥበቃና
                  አካባቢ ጥበቃ የሚወጡ ህጎች፣ መመሪያዎች ፣ትዕዛዝች ፣ደንቦች፣ ፖሊሲዎች፤ የኩባንያው የአሰራር ዘዴዎች እና
                  የደህንነት መመሪያዎች በውሉ ጊዜ ሁሉ ያከብራል፡፡ ያስከብራል፡፡ በስራ ላይ መዋላቸውን ያረጋገጣል፡፡ ማናቸውንም
                  ስህተቶችን በማረም ሥራው በጥራት እንዲከናወን ያደርጋል፡፡ ራሱም ሆነ በማደያ የሚሰሩ ሌሎች ሰራተኞችና
                  ደንበኞች አክብረው እንዲሰሩባቸው ግንዛቤ ይፈጥራል፡፡ በተግባር ማዋላቸውን ይከታተላል፡፡</p>
                  <p style="margin-left: 20px">19.3. ዲለሩ የማደያውን ስራ እንቅስቃሴ ፣ ነዳጅና የነዳጅ ውጤቶችን ክምችትና አቅርቦት፣የችርቻሮ መሸጫ ዋጋንና ከዚህ
                  ጋር ተያያዥነት ያላቸውን በክልሎችም ሆነ በፌዴራል መንግስት የሚወጡትን ሕጎች፣ደንቦችና መመሪያዎች የማክበርና
                  የመፈፀም እንዲሁም ከተከለከሉ ተግባሮች የመቆጠብ ግዴታ አለበት፡፡</p>
                  <p style="margin-left: 20px">19.4. ዲለሩ ስለ ጤና ፣ ደህንነት ፣ ጥበቃና ሌሎች በማደያው ላይ ለሚደርሱ የንብረት እና የሰው ጉዳቶች ለኩባንያው እና
                  ለሚመለከተው አካል ወዲያውኑ ሪፖርት ያቀርባል፡፡</p>
                  <p><strong>20. የጥቅም ግጭትና ያልተገባ ተወዳዳሪነት ስለማስወገድ</strong></p>

                  <p style="margin-left: 20px">20.1. ዲለሩ ከኩባንያው ከሚቀርብለት ነዳጅና የነዳጅ ውጤቶች ምርቶች ውጭ ሌላ በቀጥታም ሆነ በተዘዋዋሪ
                  መሸጥ፤ መያዝ፤ ማከማቸት፤ ማስተዋወቅ፤ ማሻሻጥ፤ ወይም ማናቸውንም የኩባንያውን ጥቅም ሊጎዱ
                  የሚችሉ ተግባራትን መፈጸም አይችልም፡፡</p>
                  <p style="margin-left: 20px">20.2. በውል ጊዜው ውስጥ ዲለሩ ከሌላ የነዳጅ ኩባንያ ጋር ተመሳሳይ ውል ለመዋዋል አይችልም፡፡ ተዋውሎ
                  ቢገኝ ከሦስተኛ ወገን ጋር የገባው ውል በኩባንያው ያስከተለው የገቢ ማጣትና ኪሳራ ለኩባንያው ከፍሎ
                  ዲለሩ በራሱ ወጪ ከሶስተኛው ወገን ጋር የገባውን ውል ፈራሽ ለማስደረግ ዲለሩ ግዴታ ገብቷል፡፡</p>
                  <p style="margin-left: 20px">20.3. የውሉ ጊዜ ሳይጠናቀቅ በዲለሩ ግዴታውን አለመወጣት ምክንያት ውሉ ከተቋረጠ፤ ከተቋረጠበት ጊዜ
                  ጀምሮ እስከ 5 (አምስት) ዓመት ከሌላ ተፎካካሪ ኩባንያ ጋር ተመሳሳይ ስራ ላለመስራት ዲለሩ
                  ተስማምቷል፡፡ ይህንን ግዴታ ካፈረሰና ውል ከተዋዋለ ከሶስተኛው ወገን ጋር የገባው ውል ያስከተለውን
                  ኪሳራ ለኩባንያው ከፍሎ በራሱ ወጪ ከ3ኛ ወገን ጋር የገባውን ውል ፈራሽ እንዲሚያደርግ ዲለሩ ግዴታ
                  ገብቷል፡፡</p>
                  <p style="margin-left: 20px">20.4. የኩባንያውን የንግድ ምልክት ወይም የንግድ ስም በኩባንያው ከተፈቀደው ውጭ ለሌላ ለማናቸውም
                  አይነት አላማና ጥቅም አያውልም፡፡</p>

                  <p><strong>21. መልካም ሥም አጠባበቅ</strong></p>

                  <p style="margin-left: 20px">21.1. ዲለሩ ለደንበኞቹ የሚሰጠው አገልግሎት ትህትና የተሞላበት ፣ፈጣን ፣ቀልጣፋና ጥራት ያለው እንዲሆን
                  ዘወትር ተግቶ መስራት አለበት፡፡ በደንበኞች ላይ አንዳችም ቅሬታ ከሚያስከተል ተገቢ ያልሆነ አሰራር
                  መቆጠብ አለበት፡፡</p>
                  <p style="margin-left: 20px">21.2. የዲለሩ ደንበኞች ቅሬታዎቻቸውን እንዳቀረቡ ወዲያውኑ ሙሉ በሙሉና ትክክለኛ በሆነ መንገድ
                  በመመርመር መፍትሔ የመስጠት ግዴታ አለበት፡፡ በማናቸውም ጊዜ የቀረበለትን ቅሬታ መርምሮ በ24
                  የስራ ሰዓት ባልበለጠ ጊዜ ውስጥ መፍትሔ የመስጠት ግዴታ አለበት፡፡</p>
                  <p style="margin-left: 20px">21.3. ዲለሩ የኩባንያውን የንግድ ምልክት ፣የንግድ ስምና ከዚህ ጋር የተያያዘውን መብቶች በሙሉ ለመጠበቅ
                  ችሎታው ሁሉ የፈቀደውን ለማድረግ ግዴታ ገብቷል ፡፡ በተለይም</p>
                  <p style="margin-left: 30px">21.3.1. የኩባንያውን የንግድ ምልክት ፣የንግድ ስም በሌላ በማናቸውም ሶስተኛ ወገኖች መነካቱን
                  ወይም አገልግሎት ላይ መዋሉን ወይም መልካም ስሙንና ዝናውን ሊያስጠፋ የሚችል ተግባር መፈፀሙን ወይም ሊፈጽም መሆኑን ወይም ከኩባንያው ፈቃድ ውጭ ማናቸውም ተግባር መፈፀሙን ካወቀ ወዲያውኑ ለኩባንያው ያሳውቃል፡፡</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
      <div class="content" style="display: flex; flex-wrap: wrap;">
          <div style="margin-left: 60px; margin-right: 60px;">
              <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
                <p style="margin-left: 30px">21.3.2. ዲለሩ በምንም አይነት መልኩም ቢሆን የኩባንያውን የንግድ ምልክት ፣ንግድ ስምና መልካም
                ዝናውን የሚነካ ማናቸውንም ተግባር አይፈጽምም ፡፡ እንዲፈፀም ማድረግም አይፈቀድለትም፡፡</p>
                <p style="margin-left: 20px">21.3.3. ዲለሩ በማደያው ላይ የሚገኘውን የንግድ ምልክት ፣ የንግድ ስምና ኩባንያው
                የሚገለገልባቸውን ማናቸውንም መለያዎች ሊቀይር ወይም ሊያነሳ አይችልም፡፡</p>

                <p style="margin-left: 20px">21.4. በምንም አይነት መልኩ የሚሸጣቸውን ምርቶች ጥራትና መጠን የሚቀንስ ተግባር ዲለሩ እንዳይፈጸም
                ጥብቅ ክትትል ያደርጋል፡፡ እንዲህ አይነት ተግባር ተፈጽሞ ሲያገኝ አጥፊው በህግ እንዲጠየቅ ለህግ አካላት
                ወዲያውኑ ሪፖርት ማድረግ አለበት፡፡ ለኩባንያውም ወዲያውኑ ያሳውቃል፡፡</p>
                <p style="margin-left: 20px">21.5. ተገቢ ያልሆነ ጥቅም ለማግኘት ሲል የደንበኞችን ጥቅም የሚጎዳ፤ የኩባንያውን ስም የሚያጠፋ፤ የነዳጅና
                የነዳጅ ውጤቶችን የመቀየጥ፤ የመቀነስ ተግባር ራሱም ሆነ በራሱ ሰራተኞች ወይም በማደያውና እርሱ
                በሚቆጣጠረው ቦታ እንዳይፈጸም ይቆጣጠራል፤ ተፈጽሞ ካገኘ ወይም ከሰማ አጥፊውን ለሕግ አሳልፎ
                ይሰጣል፡፡ ምርመራ እንዲደረግ ያደርጋል፡፡ ይህንን ግዴታውን ሳይወጣ ቀርቶ ለሚደርስ ጉዳት ጉዳቱ
                ለደረሰበት ወገን ለመካስ ዲለሩ ግዴታ አለበት፡፡ ከዚህ ጥፋት ጋር በተያያዘ ኩባንያው ምንም አይነት
                ተጠያቂነት የለበትም፡፡</p>

                <p><strong>22. ስለ መድህን ዋስትና</strong></p>

                <p style="margin-left: 20px">22.1. ዲለሩ በዚህ ውልና በአጠቃላይ ህጎች ያለበት ሀላፊነትና ግዴታዎች ለመወጣት ተገቢ የሆነ የመድህን
                ዋስትና የማደያውን ስራ ከመጀመሩ በፊት አስቀድሞ ይገባል፡፡ በተለይም ዲለሩ፡-</p>
                <p style="margin-left: 30px">22.1.1. ከኩባንያው ለተረከባቸው መገልገያዎች ብልሽት ወይም ጉዳት በማደያው ውስጥ ለሚገኙ
                ነዳጅና የነዳጅ ውጤቶች እና ሌሎች ንብረቶች ለሚደርሰው አደጋ፣</p>
                <p style="margin-left: 30px">22.1.2. በማደያው ውስጥ በሶስተኛ ወገኖች ላይ ለሚደርስ አደጋ፣</p>
                <p style="margin-left: 30px">24.1.3. በማደያው ውስጥ በሚገለገሉ ወይም ከማደያው ከተነሳ አደጋ በውጭ ካሉ ሰዎች ላይ ሊደርሱ
                የሚችሉ የሞትና የአካል ጉዳት፣</p>
                <p style="margin-left: 20px">24.1.4. በማደያው ላይ ተቀጥረው የሚሰሩትን ሰራተኞች ለሚደርስ የሞት እና የአካል ጉዳት፣ ተገቢ
                የሆኑ የመድህን ዋስትናዎችን ይገዛል፡፡</p>

                <p style="margin-left: 20px">22.2. ዲለሩ የሚገባው ሁሉም የመድን ዋስትና ፖሊሲዎች በመንግስት እውቅና ካገኘ የመድን ድርጅት ይሆናል፡፡
                የመድህን ዋስትና የሚገባውም ኩባንያው በሚገምተው መጠን እና በሚፈልገው ሁኔታ ይሆናል፡፡
                የዋስትናዎቹ ጊዜ ከመጠናቀቁ በፊት የማሳደስ ግዴታ አለበት፡፡</p>
                <p style="margin-left: 20px">22.3. ዲለሩ የሚፈለጉትን የመድን ዋስትና ፖሊሲዎች ፣የታደሱበትን ደረሰኞች ወይም መረጃዎች ለኩባንያው
                የማቅረብ ግዴታ አለበት፡፡</p>
                <p><strong>23. የኩባንያው ቁጥጥርና እርምጃዎች</strong></p>

                <p style="margin-left: 20px">23.1. ዲለሩ በዚህ ውልና በአጠቃላይ አሰራሮች የተጣለበትን ግዴታዎች በአግባቡ መወጣቱን ለመቆጣጠር
                የኩባንያው ሰራተኞች ከዲለሩ ፈቃድ ማግኘት ሳያስፈልጋቸው በማናቸውም ጊዜ ቢሆን ወደ ማደያው
                የመግባት መብት ይኖራቸዋል፡፡</p>
                <p style="margin-left: 20px">23.2. ኩባንያው በዚህ ውል ዲለሩ ያለበትን ግዴታዎች መወጣቱን እና መተግበራቸውን ለማረጋገጥ የቁጥጥር ስራ
                ሊያደርግ ይችላል፡፡</p>
                <p style="margin-left: 20px">23.3. ዲለሩ ከጊዜ ወደ ጊዜ ኩባንያው በሚያፀድቀው ሁኔታ እና አይነት ተገቢና ወቅታዊ የሆነ የሽያጭ መረጃዎች
                ፣ ማናቸውም አይነት የነዳጅ እና የነዳጅ ውጤቶች ክምችትን፣ የደንበኞች ሪከርድን መዝግቦ ይይዛል፡፡
                እነዚህን ሪከርዶች(መረጃዎች) በማንኛውም ጊዜ የኩባንያው ተወካይ እንዲያያቸው ዲለሩ መፍቀድና
                እነዚህን መረጃዎች የኩባንያው ተወካይ እንዲመረምር፣ ኮፒ በማድረግ እንዲወስድ እና ሌሎች ተጨማሪ
                መረጃዎችንም እንዲሰጡት ሲጠይቅ ዲለሩ የመፍቀድ ግዴታ አለበት፡፡</p>
              </div>
          </div>
      </div>
  </div>

  <div class="page">
    <div class="content" style="display: flex; flex-wrap: wrap;">
        <div style="margin-left: 60px; margin-right: 60px;">
            <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
              <p style="margin-left: 20px">23.4. ኩባንያው የተከሰቱ ችግሮች ተመልክቶ እርምት እንዲወሰድ በቃል ወይም በጽሁፍ ትዕዛዝ ለዲለሩ
              ይሰጣል፡፡ ዲለሩም በተሰጠው ትዕዛዝ መሰረት ማስተካከያ ማድረግ አለበት፡፡</p>
              <p style="margin-left: 20px">23.5. ዲለሩ ከኩባንያው በተሰጠው ትዕዛዝ መሰረት ማስተካካያ ካላደረገ የውል ግዴታውን እንዳልተወጣ
              ተቆጥሮ በዚህ ውል የውል ግዴታን ስላለመወጣት የተደነገጉት ተፈጻሚ ይሆናሉ፡፡</p>

              <h3><strong>ክፍል ፫</strong></h3>

              <h3><strong>ግዴታን ስላለመፈጸምና ውጤቶቹ</strong></h3>

              <p><strong>24. ዲለሩ ግዴታውን ባይወጣ የሚከተለው ውጤት</strong>
              <p style="margin-left: 20px">24.1. ዲለሩ በዚህ ውል እና በአጠቃላይ የህግ መርሆዎች ግዴታውን ባይወጣ ግዴታውን ባለመወጣቱ ምክንያት
              ለደረሰው ጉዳት ለኩባንያው ካሳ ይከፍላል፡፡ በተጨማሪም ፡-</p>
              <p style="margin-left: 30px">24.1.1. እንደጥፋቱ አይነት እና መጠን በመመልከት ኩባንያው ጥፋቶቹ እንዲታረሙ፣ የቃል ወይም
              የጽሑፍ ማስጠንቀቂያ ይሰጣል፡፡</p>
              <p style="margin-left: 20px">24.1.2. በኩባንያው የተሰጠውን የቃል ወይም የጽሑፍ ማስጠንቀቂያ በተደጋጋሚ የሚጥስ ቢሆን
              ኩባንያው ውል እስከ ማቋረጥ ተገቢ የመሰለውን እርምጃ ሊወስድ ይችላል፡፡</p>
              <p style="margin-left: 30px">24.1.3. በማንኛውም ምክንያት ቢሆን የተፈጠረው ግዴታ አለመወጣት ተግባር የኩባንያውን ጥቅም
              ወይም መልካም ስም ይጎዳል ብሎ ኩባንያው ካመነ በጹሑፍ በመግለፅ ውሉን ያለማስጠንቀቂያ
              ሊያቋርጥ ይችላል፡፡ በውሉ መቋረጥ የደረሰበትን ጉዳትም በዚሁ ውል አንቀጽ 25.2 መሰረት
              ይጠይቃል፡፡</p>
              <p style="margin-left: 30px">24.1.4 ያለማስጠንቀቂያ ውል ሊያቋርጡ ከሚችሉት መካከል፡-</p>
              <p style="margin-left: 40px">1. ኩባንያው ከሚያቀርባቸው ውጭ ያለኩባንያው የጽሁፍ ፈቃድ ዲለሩ ምርቶችን ከሌሎች
              ተፎካካሪ ኩባንያዎች ወይም ሰዎች ከገዛ፤ ወይም በማደያውም ሆነ በሌላ ቦታ ከሸጠ፤ ወይም
              ከያዘ ወይም ከለወጠ፤ወይም ከሌሎች ተፎካካሪ ኩባንያዎች ጋር ያልተገባ የንግድ ግንኙነት
              ከፈጠረ፤</p>
              <p style="margin-left: 40px">2. ዲለሩ ምርቶችን ከሌላ ምርቶች ወይም ከባዕድ ነገሮች ጋር ከቃለቀለ ወይም ከቀየጠ፤</p>
              <p style="margin-left: 40px">3. ከኩባንያው ነዳጅና የነዳጅ ውጤቶችን በተወሰነለት አንስተኛ ሽያጭ መጠን ከኩባንያው
              አለመግዛት ወይም ተረክቦ አለመሸጥ፤</p>
              <p style="margin-left: 40px">4. ኩባንያው በጽሁፍ ሳይፈቅድ ራሱ ወይም ሌላ 3ኛ ወገን በማደያው ክልል ማንኛውንም አይነት
              ሌላ የንግድ ስራ ከሰራ ወይም እንዲሰራ ከፈቀደ ወይም የዲለርሽፑን ስራ ለሌላ 3ኛ ወገን
              ካስተላለፈ፤</p>
              <p style="margin-left: 40px">5. የኩባንያውን መልካም ስምና ዝና የሚያጠፉ ተግባራትን ከፈጸመ።</p>
              <p style="margin-left: 40px">6. ዲለሩ በዚህ ውል የተገለጹ የመድን ዋስትናዎችን ያልገዛ ከሆነ፤ ወይም ያላደሰ ከሆነ፤</p>
              <p style="margin-left: 40px">7. ማደያውን ለተከታታይ 3/ሶስት /ቀናት ያለበቂ ምክንያት ለህዝብ ክፍት ያለደረገ ከሆነ፤</p>
              <p style="margin-left: 40px">8. ተገቢውን የንግድ ፈቃድ ካልያዘ ወይም ካላደሰ፤</p>
              <p style="margin-left: 40px">9. በመንግስት ወይም በኩባንያው ከተወሰነው ዋጋ በላይ ምርቶችን ከሸጠ ወይም ከለወጠ፤</p>
              <p style="margin-left: 40px">10. ለተረከባቸው ምርቶች ተገቢውን ክፍያ እና ክፍያው በመዘግየቱ መክፈል ያለበትን ወለድ
              ኩባንያው ወስኖ ባስታወቀው ጊዜ ውስጥ ካልከፈለ፤</p>
              <p style="margin-left: 40px">11. ሌሎችም ተመሳሳይ ክብደት ያላቸው የውል እና የህግ ግዴታዎችን አለመፈጸም፤</p>
              <p style="margin-left: 20px">24.2 ከላይ በ 24.1 እንደተገለጸው ዲለሩ ላደረሰው ጉዳት ለኩባንያው የሚከፍለው የጉዳት ካሳ እና የጥቅም ማጣት
              መጠን እንደሚከተለው ይሆናል፡፡</p>
              <p style="margin-left: 30px">24.2.1 ጥፋቱ ከተፈፀመበት ጊዜ እስከ ታረመበት ጊዜ ድረስ ለደረሰው ጉዳት ከዝቅተኛው የሽያጭ
              መጠን ሊያገኝ የሚገባውን የቀን የሽያጭ ትርፍ በዚሁ ጊዜ ተባዝቶ ዲለሩ ለኩባንያው
              ይከፍላል፡፡</p>
              <p style="margin-left: 30px">24.2.2 ውሉ የሚቋረጥ ከሆነ ደግሞ ውሉ ካተቋረጠበት ጊዜ አንስቶ የውሉ ጊዜ እስከሚጠናቀቅበት
              ጊዜ ድረስ ከዝቅተኛው የሽያጭ መጠን ሊያገኝ የሚገባውን የቀን የሽያጭ ትርፍ በዚሁ ጊዜ
              ተባዝቶ ዲለሩ ለኩባንያው ይከፍላል፡፡</p>
              <p style="margin-left: 30px">24.2.3. ከላይ በ 25.2.1 እና 25.2.2 ከተገለፀው በተጨማሪ ኩባንያው የደረሰበትን ማንኛውንም ወጪ
              እና ኪሳራን ዲለሩ ለኩባንያው ይከፍላል፡፡</p>
            </div>
        </div>
    </div>
  </div>


  <div class="page">
    <div class="content" style="display: flex; flex-wrap: wrap;">
        <div style="margin-left: 60px; margin-right: 60px;">
            <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
              <p><strong>25. ውልን አለማክበር ስለሚያስከትለው ተጨማሪ ቅጣት</strong></p>
              <p style="margin-left: 20px">በዚህ ውል የተደነገጉት ሌሎች ድንጋጌዎች የተገለፁት ወጪ እና ኪሳራ እንዲሁም የጥቅም መጓደል ወይም መቅረት
              ድንጋጌዎች እንደተጠበቁ ሆነው በተጨማሪ ዲለሩ ውሉን ካፈረሰ ወይም ለማፍረስ ከሞከረ ለኩባንያው ብር
              100,000.00 (አንድ መቶ ሺህ ብር) ቅጣት ከፍሎ ውሉ የፀና ይሆናል፡፡</p>
              <p><strong>26. ኩባንያው የውል ግዴታውን ባይፈጽም ስለሚከተለው ውጤት</strong></p>
              <p style="margin-left: 20px">በአንቀጽ 28 እና በዚህ ውል የተጠቀሱት ሌሎች ድንጋጌዎች እንደተጠበቁ ሆነው በዚህ ስምምነት መሰረት ኩባንያው
              የገባውን ግዴታ ካልፈፀመ ኩባንያው ዲለሩ ለደረሰበት ኪሳራ ካሳ ሊከፍል ይችላል፡፡ ሆኖም የሚከፈለው ኪሳራ
              መጠን በዝቅተኛው የቀን ሽያጭ መጠን ትርፍ ከሁለት ወር በላይ ሊሆን አይችልም፡፡</p>
              <p><strong>27. ከአቅም በላይ ስለሆኑ ሁኔታዎች</strong></p>
              
              <p style="margin-left: 20px">ኩባንያውም ሆነ ዲለሩ በዚህ ውል የተገለፁትን ግዴታዎች ያልፈፀሙት ወይም ግዴታው ሳይፈጸም የቀረው፣
              የዘገየው ፣ የተደናቀፈው ወይም የተገደበው ከኩባንያው ወይም ከዲለሩ ቁጥጥር ውጭ በሆኑ በፍ/ብ/ሕ/ቁ 1793
              በተደነገጉት ምክንያቶች ከሆኑ ሀላፊነት የለባቸውም፤ ከዚህ በተጨማሪም የኩባንያውንም ሆነ የዲለሩን ግዴታና
              መብት በሚመለከት በተለይ የተስማማንባቸው እንደተጠበቁ ሆነው ከዚህ ውጪም ግዴታውን ያልተወጣው
              በፌዴራል መንግስት በክልል መንግስት በሚወጡ ማናቸውም መመሪያ ወይም ትዕዛዞች፣ ከወደብ ጋር በተያያዘ ፣
              ከመጓጓዣ ጋር በተያያዘ ፣ከተማ አስተዳደር ጋር በተያያዘ ፣በፖሊስ ወይም በሌላ ህጋዊ ስልጣን ትዕዛዞችን ወይም
              ጥያቄዎችን ለማሟላት ወይም በኢትዮጵያ የፍታብሔር ህግ ቁጥር 1794 በተገለፁት ምክንያቶች ከሆነ ኩባንያውም
              ሆነ ዲለሩ ኃላፊነት የለባቸውም፡፡</p>
              
              <h3><strong>ክፍል ፬</strong></h3>
              
              <h3>ስለውሉ ዘመን፤ ውል ስለሚቋረጥባቸው ወይም ስለሚተኩባቸው ሌሎች ሁኔታዎችና ውጤቶቻቸው</h3>
              
              <p><strong>28. ውሉ ጸንቶ ስለሚቆይበት ጊዜና ስለሚታደስበት ሁኔታ</strong></p>
              
              <p style="margin-left: 20px">28.1. ይህ ውል በተዋዋይ ወገኖች ከተፈረመ ከዛሬ {{ delier.wil_ken }} ዓ.ም ጀምሮ ለ 25 ዓመታት
              በመካከላችን አስገዳጅና በህግ ፊትም የጸና ሆኖ ይቆያል፡፡</p>
              <p style="margin-left: 20px">28.2. ከላይ በአንቀፅ 29.1 ላይ የተቀመጠው የውል ዘመን ከማለቁ በፊት ይህ ውል በማናቸውም ምክንያት
              ቢቋረጥ ዲለሩ ከኩባንያው መልቀቂያ ሳያገኝ ከየትኛውን የነዳጅ ደርጅት ጋር ውል ተዋውሎ መስራት
              አይችልም፡፡</p>
              <p style="margin-left: 20px">28.3. ይህ የውል ጊዜ ከማለቁ በፊት ዲለሩ የውል ጊዜው እንዲራዘም ወይም እንዲቋረጥ ያለውን ሀሳብ ከሁለት
              ወር በፊት ለኩባንያው በጽሁፍ መግለጽ አለበት፡፡ ይህ ሳይሆን ቢቀር ወይም በዝምታ የውሉ ጊዜ ቢያልፍ
              ኩባንያው በግልፅ እስከሚያቋርጠው ጊዜ ድረስ የውሉ ስምምነት በፈቃዳቸው እንደተራዘመ ይቆጠራል፡፡</p>
              
              <p><strong>29. ተዋዋይ ወገን ቢሞት፤ ቢከስር፤ ቢተላለፍ፤ ቢፈርስ፤ ቢዋሀድና ሌሎች ሁኔታዎች</strong></p>
              <p style="margin-left: 20px">29.1. ኩባንያው ለዲለሩ በሚሰጠው የጽሑፍ ማስታወቂያ መሰረት በማናቸውም ጊዜ መብቱን ወይም ግዴታውን
              ለሌላ ኩባንያ ወይም ሰው ማስተላለፍ ይችላል፡፡ መብቱ የተላለፈለት ሰውም ለዲለሩ ኩባንያው በዚህ
              ስምምነት የገባውን መብትና ግዴታ ሁሉ ያከብራል፡፡</p>
              <p style="margin-left: 20px">29.2. ኩባንያው ቢፈርስ ወይም ቢከስር ይህ ውል ቀሪ ይሆናል፡፡</p>
              <p style="margin-left: 20px">29.3. ኩባንያው ቢዋሀድ ይህ ውል ከአዲሱ ማህበር ጋር የሚቀጥል ይሆናል፡፡</p>
            </div>
        </div>
    </div>
  </div>

  <div class="page">
    <div class="content" style="display: flex; flex-wrap: wrap;">
        <div style="margin-left: 60px; margin-right: 60px;">
            <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
              <p style="margin-left: 20px">29.4. ዲለሩ ቢሞት ወይም ቢጠፋ ውሉ ከወራሾቹ ጋር የሚቀጥል ይሆናል፡፡</p>
              <p style="margin-left: 20px">29.5. ዲለሩ ከአቅም ማነስ፣ ወይም በቤተሰብ ችግር ወይም መክሰር ወይም በሌሎች ምክንያቶች የነዳጅ
              ማደያውን ስራ መቀጠል የማይችል ከሆነ ኩባንያው ቀሪውን የውል ዘመን ኪራይ ከፍሎ በማደያው
              ለሚሰራ ዲለር በመስጠት ማሰራት ይችላል፡፡
              በዚህ ጊዜም ለማደያው የመሬት እና የህንፃ ኪራይ ብር 5,000(አምስት ሺህ ብር) ለዲለሩ የውሉ ጊዜ
              እስከሚጠናቀቅ በየወሩ ኩባንያው እየከፈለ ስራው የሚቀጥል ይሆናል፡፡ በዚህ ጊዜም ለማደያው ኪራይ
              በወቅቱ ያለውን ተቀራራቢ የገበያ ዋጋ በማየት ኩባንያው በሚወስነው ዋጋ የውሉ ጊዜ እስከሚጠናቀቅ
              በየወሩ ኩባንያው እየከፈለ ስራው የሚቀጥል ይሆናል፡፡</p>

              <p><strong>30. ውል ከተቋረጠ በኋላ የኩባንያውን የማደያ መሳሪያዎችና ንብረቶች አለማስረከብ የሚያስከትለው ውጤት</strong></p>

              <p style="margin-left: 20px">30.1. ይህ ውል በማንኛውም መንገድ ሲቋረጥ ዲለሩ ወዲያውኑ የኩባንያውን የንግድ ምልክትና የንግድ ስም
              እንዲሁም ኩባንያው የሚገለገልባቸውን ማናቸውንም መለያዎች እና መሳሪያዎች መጠቀምን ያቆማል፡፡
              የወሰዳቸውን ወይም የተረከባቸውን ንብረቶችንም ሆነ ማናቸውንም ሰነድና መግለጫዎች ለኩባንያው
              ለመመለስ ዲለሩ ግዴታ ገብቷል፡፡ በማንኛውም ምክንያት ይህ ስምምነት ቢቋረጥ ወይም ቢሰረዝ ዲለሩ
              የኩባንያውን መገልገያዎችና ንብረቶች በራሱ ወጪ በኩባንያው አድራሻ ያስረክባል፡፡</p>
              <p style="margin-left: 20px">30.2. ዲለሩ መሳሪያዎቹን እና ንብረቶቹን በኩባንያው አስረክብ በተባለበት የመጨረሻ ቀን ባያስረክብ የኩባንያው
              መሳሪያዎች እና ንብረቶች በመያዛቸው ኩባንያው ለሚደርስበት ጉዳት ለእያንዳንዱ ቀን ብር 3,500 (ሶስት
              አምስት መቶ ብር) ዲለሩ ለኩባንያው ካሳ ለመክፈል ተስማምቶ ግዴታ ገብቷል፡፡</p>

              <h3><strong>ክፍል ፭</strong></h3>
              <h3><strong>ልዩ ልዩ ጉዳዮች</strong></h3>

              <p><strong>31. ስለደብዳቤ ልውውጥ</strong></p>

              <p style="margin-left: 20px">31.1. በዚህ ስምምነት የሚሰጥ ማንኛውም ማስጠንቀቂያ በፅሁፍ ይሆናል፡፡ ለሁለቱም ወገኖች የሚሰጥ
              ማስጠንቀቂያ በትክክል እንደደረሰው የሚቆጠረው በአድራሻው በትክክል ከተፃፈበትና በማደያው ወይም
              በኩባንያው ዋና መስሪያ ቤት ከተሰጠ ወይም ከላይ በተጠቀሰው የፖስታ ሳጥን/ፋክስ ቁጥር በተመዘገበ
              አድራሻ ከተላከ ነው፡፡</p>
              <p>31.2. በአንቀፅ 33.1. የተገለፀው ቢኖርም በተመዘገበ ደብዳቤ የሚላኩ ማስጠንቀቂያዎች በተላኩ በ 10 ቀናት
              ውስጥ ለተላከለት ወገን እንደደረሰው ይቆጠራሉ፡፡</p>
              <p style="margin-left: 20px">31.3. ተዋዋይ ወገኖች የአድራሻቸውን ለውጥ አንዱ ለሌላው እስከላሳወቀ ድረስ ማስታወቂያ የሚላከው
              በተመዘገበው አድራሻ ይሆናል፡፡</p>

              <p><strong>32. አግባብ ስላለው ሕግና ሥልጣን ስላለው ፍርድ ቤት</strong></p>

              <p style="margin-left: 20px">ይህ ውል በኢትዮጵያ ህግ መሰረት ይተረጎማል፡፡ በተዋዋይ ወገኖች መካከል የሚነሳ ማንኛውም አለመግባባት
              አዲስ አበባ ውስጥ በሚገኝ የፌዴራል ፍርድ ቤት ይቀርባል፡፡</p>
              <p><strong>33. የውሉ አካል በሆኑ ሰነዶች መካከል መጣረስ ቢኖር ስለሚፈታበት ሁኔታ</strong></p>
              ይህ ውል የውሉ አካል ከሆኑ ሰነዶች ሁሉ የበላይ ነው፡፡
              <p><strong>34. በውሉ ልዩ ልዩ ክፍሎች መካከል መጣረስ ቢኖር ስለሚፈታበት ሁኔታ</strong></p>

              <p style="margin-left: 20px">በዚህ ውል በጥቅሉ የተደነገጉ ድንጋጌዎች ልዩ ድንጋጌ ከያዘው የውሉ ክፍል ጋር መጣረስ ቢኖር ልዩ ድንጋጌው
              ተፈፃሚነት ይኖረዋል ፡፡</p>
            </div>
        </div>
    </div>
  </div>

  <div class="page">
    <div class="content" style="display: flex; flex-wrap: wrap;">
        <div style="margin-left: 60px; margin-right: 60px;">
            <div style="font-size: 19px; font-family: Arial, sans-serif; line-height: 2.0; text-align: justify;">
              <h3><strong>ክፍል ፮</strong></h3>
              <h3><strong>የፊርማ ሥነስርዓት</strong></h3>
              <p><strong>35. ተዋዋይ ወገኖች</p>
              <p style="margin-left: 20px">በኩባንያው በኩል ዋና ሥራ አስኪያጁ እና ይህን ውል እንዲያፀድቁ ስልጣን የተሰጣቸው የኩባንያው ዋና ኦዲተር እና
              የአስተዳደር እና የፋይናንስ ዳይሬክተሩ ይህንን ውል ፈቅደውና ወደው መስማማታቸውን በፊርማቸንና የኩባንያውን
              ማህተም ቀጥሎ በማተም አረጋግጠዋል፡፡
              ዲለሩ አቶ/ወሮ {{ delier.sim}}  ህጋዊ ወኪል ተወካይ አቶ/ወሮ {{ delier.tewekay}} 
              ይህንን ውል ወደውና ፈቅደው መዋዋላቸውን በፊርማቸው አረጋግጠዋል፡፡</p>
              
                              <div class="d-flex justify-content-between">
                                  <div class="text-left">
                                      <p class="text-center"><strong>ስለ ኩባንያው</strong></p>
                                      <p class="text-left line-break">አቶ. {{ delier.kubanya_tewekay  }}</p>
                                      <p class="text-left line-break">የስራ ሃላፊነት: {{ delier.kubanya_position }}</p>
                                      <p class="text-left line-break">ፌርማ: -----------------</p>
                                      <p class="text-left line-break">ቀን: {{ delier.wil_ken }}</p>
                                  </div>
                                  <div class="text-right">
                                      <p class="text-center"><strong>ስለ ዲለሩ</strong></p>
                                      <p class="text-left line-break">ስም: {{ delier.delier_tewekay }}</p>
                                      <p class="text-left line-break">የስራ ሃላፊነት: {{ delier.tewekay_position  }}</p>
                                      <p class="text-left line-break">ፌርማ: -----------------</p>
                                      <p class="text-left line-break">ቀን: {{ delier.wil_ken }}</p>
                                  </div>
                                
                              </div><br>

                              <div class="text-center">
                                  <p><strong>ምስክሮች</strong></p>
                              </div>
                              <div class="d-flex justify-content-between">
                                  <div class="text-left">
                                    <p><strong>ስም</strong></p>
                                    <p>1ኛ/ {{ delier.miskir1 }}</p>
                                    <p>2ኛ/ {{ delier.miskir2 }}</p>
                                  </div>
                                  <div class="text-center">
                                    <p><strong>አድራሻ</strong></p>
                                    <p>{{ delier.misikir1_address }} </p>
                                    <p>{{ delier.misilir2_address }} </p>
                                  </div>

                                  <div class="text-center">
                                    <p><strong>የቤ. ቁ</strong></p>
                                    <p>{{ delier.misikir1_house_no }} </p>
                                    <p>{{ delier.misikir2_house_no }} </p>
                                  </div>
                                  <div class="text-right">
                                    <p><strong>ፌርማ</strong></p>
                                    <p>---------------</p>
                                    <p>--------------</p>
                                  </div>
                              </div>
                                
                                                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <br>
      </div>
      <div><br>
        <a href="{% url 'delier_print' delier.id %}" target="_blank" class="btn btn-primary">click to Preview</a>
      </div><br><br>
    </div>
</body>
</html>
