{% extends 'base.html' %}
{% block title %}TAF ENERGIES PLC{% endblock title %}
{% block hero %}
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Taf Energies</h1>
    </div>
  </section>

{% endblock hero %}
{% block body %}

{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}} </strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% endblock body %}


<style>
  /* Hide elements with class "noprint" when printing */
  @media print {
    .noprint {
      display: none;
    }

    .no-gap {
      margin: 0;
      padding: 0;
    }

    p {
      margin: 5px 0; /* Adjust top and bottom margins to control spacing between paragraphs */
      line-height: 1.2; /* Adjust line height for paragraphs */
      font-size: 12px;
    }


    /* Apply styles for printed content */
    body {
      font-family: sans-serif;
      font-size: 12px;
    }
    .page {
      page-break-inside: avoid;
      margin: 0;
    }

    @page {
      size: A4;
      margin-top: 60px;
      margin-left: 80px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  /* General styling for the content */
  .content {
    flex-direction: column;
  }

  h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
  }

  .timer {
    margin-top: 40px;
    text-align: right;
    margin-right: 60px;
  }

  .text-right {
    text-align: right;
    margin-right: 30px;
  }

  .text-left {
    text-align: left;
    margin-left: 30px;
  }

  /* Set font size for paragraphs */
  p {
    font-size: 16px;
  }
</style>