{% extends 'base.html' %}
{% block title %}
Job Employee
{% endblock title %}
{% block body %}
    <form class="form-control">
        <label for="name">First Name</label><br>
        <input type="text" id="name" name="fname" placeholder="Enter First Name" /><br>

        <label for="lname">Last Name</label><br>
        <input type="text" id="lname" name="lname" placeholder="Enter Last Name" /><br>

        <label for="sex">Sex</label><br>
        <input type="text" id="sex" name="sex" placeholder="Enter Last Name" /><br>

        <label for="age">Age</label><br>
        <input type="number" id="age" name="age" placeholder="Enter age" /><br>

        <label for="title">Job Title</label><br>
        <input type="text" id="title" name="title" placeholder="Enter Job Title" /><br>

        <label for="desc">Job Description</label><br>
        <textarea><input type="text" id="desc" name="desc" placeholder="Enter job description" width="40px" height="40px" /></textarea><br>
    </form>

{% endblock body %}