<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contract Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      body, html {
        height: 100%;
        margin: 0;
    }

    .container {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        height: 100vh; /* Full viewport height */
    }

    .section {
        flex: 1; /* Each section takes up equal space */
        border: 1px solid #ccc; /* Add a border or styles to visually separate sections */
        padding: 20px;
    }

    .section .form-group {
      margin-bottom: 5px; /* Adjust as needed to reduce spacing between form fields */
    }
    /* Style your section content and form fields as needed */
    .form-control {
        /* Your form control styles */
    }

    /* Add more styles as necessary */
  
  </style>
    
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="{% url 'transport_form' %}">
                {% csrf_token %}
                <div class="container">
                  <div class="section">
                      <!-- Content for section 1 goes here -->
                      <h3 class="text-center">ትራንስፖርተር ፎርም</h3>
                            <div class="form-group">
                                <label for="transporter_name">የትራንስፖርተሩ ስም</label>
                                <input type="text" class="form-control" name="transporter_name" required>
                            </div>
                            <div class="form-group">
                                <label for="Adrasha">አድራሻ</label>
                                <input type="text" class="form-control" name="Adrasha" required>
                            </div>
                            <div class="form-group">
                                <label for="ketema">ከተማ</label>
                                <input type="text" class="form-control" name="ketema" required>
                            </div>
                            <div class="form-group">
                                <label for="wereda">ወረዳ</label>
                                <input type="text" class="form-control" name="wereda" required>
                            </div>
                            <div class="form-group">
                                <label for="yebet_kutr">የቤ.ቁ</label>
                                <input type="text" class="form-control" name="yebet_kutr" required>
                            </div>
                            <div class="form-group">
                                <label for="silk_kutr">ስ.ቁ</label>
                                <input type="text" class="form-control" name="silk_kutr" required>
                            </div>

                  </div>
                  <div class="section">
                      <!-- Content for section 2 goes here -->
                      <h3 class="text-center">ምስክር ፎርም</h3>
                            <div class="form-group">
                                <label for="companyname">የ1ኛ ምስክር ስም</label>
                                <input type="text" class="form-control" name="wname" required>
                            </div>
                            <div class="form-group">
                                <label for="companyname">የ1ኛ ምስክር አድራሻ</label>
                                <input type="text" class="form-control" name="waddress" required>
                            </div>
                            <div class="form-group">
                                <label for="companyname">የ2ኛ ምስክር ስም</label>
                                <input type="text" class="form-control" name="wname1" required>
                            </div>
                            <div class="form-group">
                                <label for="waddress1">የ2ኛ ምስክር አድራሻ</label>
                                <input type="text" class="form-control" name="waddress1" required>
                            </div>
                  </div>
                  <div class="section">
                    <h3 class="text-center">የኩባንያ ፎርም</h3>
                    <div class="form-group">
                      <label for="yekubanya_title">መአርግ</label>
                      <input type="text" class="form-control" name="yekubanya_title" required>
                  </div>
                    <div class="form-group">
                        <label for="yekubanya_tewekay">የኩባንያ ተወካይ ስም</label>
                        <input type="text" class="form-control" name="yekubanya_tewekay" required>
                    </div>
                    <div class="form-group">
                        <label for="yekubanya_tewekay_position">የስራ ሃላፊነት</label>
                        <input type="text" class="form-control" name="yekubanya_tewekay_position" required>
                    </div>
                    <div class="form-group">
                        <label for="date_year">የፌርማ ቀን</label>
                        <input type="text" class="form-control" name="date_year" required>
                    </div>
                  </div>
                  <div class="section">
                      <!-- Content for section 4 goes here -->
                      <h3 class="text-center">የትራንስፖርተሩ ተወካይ ፎርም</h3>

                            <div class="form-group">
                              <label for="title">መአርግ</label>
                              <input type="text" class="form-control" name="title" required>
                          </div>
                            <div class="form-group">
                                <label for="transporter_tewekay">የትራንስፖርተሩ ተወካይ ስም</label>
                                <input type="text" class="form-control" name="transporter_tewekay" required>
                            </div>
                            <div class="form-group">
                                <label for="transporter_tewekay_postion">የስራ ሃላፊነት</label>
                                <input type="text" class="form-control" name="transporter_tewekay_position" required>
                            </div>
                            <div class="form-group">
                                <label for="date_year">የፌርማ ቀን</label>
                                <input type="text" class="form-control" name="date_year" required>
                            </div>
                  </div>
                  <div class="section">
                      <!-- Content for section 5 goes here -->
                      <div class="form-group">
                        <label for="yeseleda_kutr">የሰሌዳ ቁጥር 1</label>
                        <input type="text" class="form-control" name="yeseleda_kutr" required>
                        <label for="yetesabi_kutr">የተሳቢ ቁጥር 1</label>
                        <input type="text" class="form-control" name="yetesabi_kutr" required>
                      </div>

                      <div class="form-group">
                        <label for="yeseleda_kutr1">የሰሌዳ ቁጥር 2</label>
                        <input type="text" class="form-control" name="yeseleda_kutr1" required>
                        <label for="yetesabi_kutr1">የተሳቢ ቁጥር 2</label>
                        <input type="text" class="form-control" name="yetesabi_kutr1" required>
                      </div>

                      <div class="form-group">
                        <label for="yeseleda_kutr2">የሰሌዳ ቁጥር 3</label>
                        <input type="text" class="form-control" name="yeseleda_kutr2" required>
                        <label for="yetesabi_kutr2">የተሳቢ ቁጥር 3</label>
                        <input type="text" class="form-control" name="yetesabi_kutr2" required>
                      </div>

                      <div class="form-group">
                        <label for="yeseleda_kutr3">የሰሌዳ ቁጥር 4</label>
                        <input type="text" class="form-control" name="yeseleda_kutr3" required>
                        <label for="yetesabi_kutr3">የተሳቢ ቁጥር 3</label>
                        <input type="text" class="form-control" name="yetesabi_kutr3" required>
                      </div>
                  </div>
              </div><br>
               
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
            </form>
        </div>
    </div>
</body>
</html>
